[2022-04-13 19:12] rootfs opened #29 "Resolve Container ID by both PID and Cgroup ID"
There are two following ways to associate a process to its container ID:
- by reading the process's /proc/pid/cgroup and find the container ID. This requires exposing host's /proc filesystem to Kepler container.
- by using the process's Cgroup ID and resolve it in cgroup FS at /sys/fs/cgroup. This doesn't require host's /proc

The Cgroup ID is the current way in practice. However, CgroupID resolut

[2022-04-14 08:35] marceloamaral commented on #29
We can identify if the host has cGroup V2 with `grep cgroup2 /proc/filesystems`. Therefore, the system can identify which version of cGroup the host supports.

However, since we need to customize the Kepler YAML deployment to expose `/proc` to cGroup V1, we can create an operator that configures and deploys Kepler. The operator will introduce a new CRD which will also contain some custom settings.

[2022-04-14 11:18] rootfs commented on #29
@marceloamaral here is the way from openshift [doc](https://docs.okd.io/latest/post_installation_configuration/machine-configuration-tasks.html#nodes-nodes-cgroups-2_post-install-machine-configuration-tasks)
[code]

[2022-04-14 11:19] rootfs commented on #29
cc @metacosm, Christophe is working on the operator

[2022-04-14 20:15] adetalhouet opened #34 "Not providing CPU energy consumption read for Intel 8255C in a KVM cluster"
Hi,

I deployed Kepler in OpenShift 4.10.9 and Kepler is only reporting 0 value for energy consumption.

The cluster is deployed on KVM, provided by Red Hat Enterprise Linux release 8.5 (Ootpa)

Here are some logs I could observed in kepler pod
[code]

[2022-04-14 20:17] #34 closed

[2022-04-28 18:23] williamcaban opened #44 "[RFE] Correlate Pod and Intel ACC100 FEC power consumption"
**Is your feature request related to a problem? Please describe.**
The Telco 5G RAN workloads have high power consumption. Today there is not a consistent way to collect these metrics to understand how much is the actual power consumption of these accelerators (e.g. Intel ACC100) based on the use of each Pod, and much less how it relates to the power consumption of a specialized CNF like the Distr

[2022-04-28 19:00] rootfs commented on #44
The next iteration will plan a plugin model so that new HW metrics collector can be developed independently. Let's use AC100 FEC as our first plugin for the exercise.

[2022-05-27 15:10] rootfs opened #65 "Developer Guideline"
This task is to provide a developer guideline with:
1. Code of Conduct
2. Development environment
3. Architecture overview

[2022-05-27 15:15] rootfs opened #66 "Startup configuration"
There are multiple hardwired const. A startup configuration file is needed.

[2022-05-27 15:17] rootfs opened #67 "Track PID/Cgroup through /proc."
Currently the PID/CgroupID mapping are through /sys. This works for Cgroup V2, but not v1.

On Cgroup V1 systems, accessing /proc is needed to convert PID/CgroupID to Pod name

[2022-05-27 15:19] rootfs opened #68 "More hwmon data."
Currently power meter is read from hwmon. More hwmon data is needed, including CPU temperature, cooling, other power draw, etc.

[2022-05-27 15:21] rootfs opened #69 "Testing"
Unit and integration tests

[2022-06-02 03:47] williamcaban opened #71 "Conflict between Kepler-exporter with OVN Kubernetes CNI ovn-master"
**Describe the bug**

Kepler cannot run on the OpenShift control plane nodes when OVN Kubernetes is the CNI. OVN Kubernetes `ovn-master` DaemonSet already uses hostPort 9102 as seen in the following extract:

[code]

Which is the same port the Kepler exporter daemonset tries to use

[code]

So, the kepler-exporter Pods remain in `Pending` state
[code]
and the events shows
[code]

**To Reproduce**

[2022-06-02 10:56] rootfs commented on #71
Ha, port becomes a hot resource :D
Would you post a fix, it looks a few places need to have the new port:

1) the [arg](https://github.com/sustainable-computing-io/kepler/blob/main/manifests/openshift/openshift-deployment.yaml#L70)
2) the [container port](https://github.com/sustainable-computing-io/kepler/blob/main/manifests/openshift/openshift-deployment.yaml#L76-L77)

(in both openshift and kube

[2022-06-04 17:55] rootfs opened #72 "Consolidate MachineConfig"
**Is your feature request related to a problem? Please describe.**
An enhancement

**Describe the solution you'd like**
As @williamcaban found, the two MachineConfig can be consolidated

[2022-06-04 23:30] williamcaban commented on #71
Addressed with https://github.com/sustainable-computing-io/kepler/commit/62be2a1a6a01499ef0cbe244bbf7ea3e617243c6  by moving the Pod to run without hostNetwork mode. Tested with OpenShift 4.10.15 w/OVN.

[2022-06-04 23:30] #71 closed

[2022-06-04 23:30] williamcaban commented on #72
Addressed with https://github.com/sustainable-computing-io/kepler/commit/62be2a1a6a01499ef0cbe244bbf7ea3e617243c6

[2022-06-04 23:30] #72 closed

[2022-06-04 23:41] williamcaban opened #73 "consolidate installation instructions and prerequisites"
Opening this issue for tracking purposes

- Consolidate installation instructions from the main README.md with the README.md under manifests
- Clearly identify prerequisites and OS dependencies (e.g. cgroup v2, kernel-headers, etc)
- Specify the K8s versions for which it is known to work

[2022-06-04 23:43] williamcaban opened #74 "Initial Helm-based installation"
Create Helm charts for the installation of `kepler-exporter`

[2022-06-05 12:00] rootfs commented on #74
https://github.com/sustainable-computing-io/kepler-helm-chart

[2022-06-06 19:56] husky-parul opened #75 "Kepler Documentation"
**Describe the solution you'd like**
Add documentation on:

- About Kepler
- Describe the modules, bpf, model server, collector, power, attacher etc
- Run on Kubernetes
- Run on OpenShift
- Run locally

[Doc repo]( https://github.com/sustainable-computing-io/kepler-doc)

[2022-06-06 19:57] husky-parul commented on #75
We can use one of these as a reference
[Volsync](https://volsync.readthedocs.io/en/stable/)
[Microshift](https://microshift.io/)

[2022-06-06 19:58] husky-parul commented on #75
@rootfs Please assign the issue to me. For some reason I still can't assign issues to myself.

[2022-06-06 21:06] husky-parul commented on #75
@rootfs @nikimanoledaki @williamcaban I would appreciate your inputs on which docs would look good for Kepler. I have mentioned two references above. My preference is VolSync. It looks simple, intuitive and easy to navigate.

[2022-06-06 21:59] williamcaban commented on #75
I guess you mean using the [Sphinx](https://www.sphinx-doc.org/) theme. That's fine with me. I'm happy with anything that can use markdown-type files for quick iteration and easier collaboration on docs.

[2022-06-06 23:00] rootfs commented on #75
Please use [this repo](https://github.com/sustainable-computing-io/kepler-doc) for documentation. Ideally we have doc to serve the following purposes:
- For developers: an deep dive into the development environment, architecture, methodology, enhancement.
- For end users:  Environment requirement, deployment process, dashboard setup and customization.
- For integrators: Packaging, API, and extensi

[2022-06-07 15:26] husky-parul commented on #75
I am going to follow the this flow

## Contents
### Overview
### Installation
#### Kubernetes
#### OpenShift
###  Usage
#### Developers
#### End Users
#### Integratiors

[2022-06-07 19:28] geertpingen commented on #75
Hi, checking out this project after Kubecon EU. Im currently using [Scaphandre](https://github.com/hubblo-org/scaphandre), and scanning for alternatives.

Im looking for documentation on what exactly it is you're monitoring, and how you are calculating that, similar to:
https://github.com/hubblo-org/scaphandre/blob/main/docs_src/explanations/how-scaph-computes-per-process-power-consumption.md. The

[2022-06-07 19:34] husky-parul commented on #75
Thanks @geertpingen for your suggestions. We are still in early stages but to give some context, we calculate power consumption of running containers in Kubernetes env based on cpu cycles/instruction/time/cache misses etc. Incorporating the details on how it is calculates is still WIP and will be available at our docs page [here](https://sustainable-computing-io.github.io/kepler-doc/)

[2022-06-07 20:08] husky-parul opened #76 "Adding Kepler to GitOps pipeline"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-06-07 20:08] husky-parul commented on #76
@rootfs Please assign this issue to me.

[2022-06-07 20:14] rootfs commented on #75
@geertpingen thanks for the pointer, alternative is good for consumers :D

Kepler and Scaphandre both want to give users an answer on how much energy spent by a workload (process, container, or VM).

The difference is that, Scaphandre spends a good deal on breaking down the processes' CPU time to attribute the energy to the workloads. Kepler uses CPU time as well as CPU spends time on doing. At th

[2022-06-08 11:36] geertpingen commented on #75
@husky-parul  @rootfs Thanks for the quick replies! Perhaps this is a question best asked in another setting (are you active on Slack or a similar platform?), but I was wondering how you obtain the coefficients here:
https://github.com/sustainable-computing-io/kepler/blob/a71dce95c1e76d1866f417c1ec8fbf20b58403fe/pkg/model/model.go#L47 (used at https://github.com/sustainable-computing-io/kepler/blo

[2022-06-08 12:05] rootfs commented on #75
@geertpingen slack invite sent. The coefficients are hardcoded at the moment. They will be learned via online training by the model server (still under construction). If you are excited about building a model of your own, [it is a place](https://github.com/sustainable-computing-io/kepler-model-server) for collaboration

[2022-07-12 17:52] holly-cummins opened #92 "Documentation issue: kube-prometheus/manifests/kubernetes does not exist"
**Describe the bug**

Hopefully this is quick to sort out.
`README.md` advises the following steps:
[code]

However, `kube-prometheus/manifests/kubernetes` does not exist.

**To Reproduce**
Steps to reproduce the behavior:
[code]
An error will be reported because `manifests/kubernetes/` does not exist.

**Additional context**
I've looked through the commit history for https://github.com/prometheus

[2022-07-12 18:44] holly-cummins commented on #92
Done, thanks!

[2022-07-12 18:51] #92 closed

[2022-07-19 18:19] rootfs opened #96 "cpu time becomes zero after long run"
**Describe the bug**
After running for extended hours, the curr_cpu_time becomes zero and never recovers
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2022-07-19 18:22] rootfs commented on #96
cpu time is calculated [here](https://github.com/sustainable-computing-io/kepler/blob/main/pkg/collector/reader.go#L284-L290)
cc @marceloamaral

[2022-07-19 19:11] husky-parul opened #97 "Add OpenTelemetry converter to export Prometheus metrics"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-07-22 14:44] husky-parul opened #99 "ArgoCD setup for Kepler on OperateFirst"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-07-22 14:54] husky-parul commented on #99
@rootfs Please assign this to me

[2022-08-15 05:52] ruomengh opened #107 "Cannot get pod energy information"
Hi, I'm trying to use Kepler in my k8s cluster. It was deployed on one node (node1) together with Prometheus and Grafana.
There are many pods running on this node. I was expecting all the pod energy can be displayed in Grafana dashboard, however I can only see one record of "pod_energy_stat" in Prometheus, which is about "pod_name="system_processes", pod_namespace="system"", and this pod/namespace

[2022-08-15 11:35] rootfs commented on #107
thank you for reporting this issue. In your issue, it looks Kepler failed to resolve the pod and attributed all energy usage to the system process (i.e. using `system_process` as pod name and `system` as pod namespace). If Kepler cannot find the pods, the root cause are likely in the container runtime and kubelet port in your cluster.

Can you check the following and share your cluster info?
- wha

[2022-08-16 04:12] ruomengh commented on #107
Thanks for prompt response. Please see my answers inline.

1. do you use cgroup v1 or v2? v2 is the assumed default.
 - I think my kernel supports both v1 and v2
 $ mount | grep '^cgroup' | awk '{print $1}' | uniq
cgroup2
cgroup

2. what is the container runtime?
- It's containerd://1.5.9-0ubuntu3

3. which port does kubelet uses?
- It should be the default port.

4. do you have the kepler log ava

[2022-08-16 11:17] rootfs commented on #107
Thanks, I'll check a setup using containerd

[2022-08-16 17:01] rootfs commented on #107
turns out containerd on my setup has a different path pattern:

[code]

while the [regex used to parse](https://github.com/sustainable-computing-io/kepler/blob/main/pkg/pod_lister/resolve_container.go#L61) container path doesn't capture this pattern

cc @marceloamaral

[2022-08-16 17:03] rootfs commented on #107
this was tested on ubuntu 20.04 with containerd version
[code]

[2022-08-16 17:06] rootfs commented on #107
@ruomengh would you like to provide a fix for this? We can go through the development process to help you get started.

[2022-08-17 01:18] ruomengh commented on #107
Sounds good. I'd like to have a try but I may need some guidance.

[2022-08-17 11:27] rootfs commented on #107
cool!

[2022-08-17 11:33] rootfs commented on #107
I've email the development process, please let me know if you have any issues there, looking forward to your contribution!

[2022-08-17 16:56] rootfs commented on #107
@ruomengh can you try the latest kepler container image? I just hit the same issue on RHEL 8 with cri-o, but it seems #108 fixed it

[2022-08-18 01:39] ruomengh commented on #107
Re-deploy kepler with the latest image and the issue remains.

[2022-08-18 01:52] sunya-ch commented on #107
@ruomengh
What is the detected kernel version?
Could you post head part of the kepler?
[code]

[2022-08-18 05:44] ruomengh commented on #107
2022/08/18 01:33:03 InitSliceHandler: &{map[] /sys/fs/cgroup/cpu /sys/fs/cgroup/memory /sys/fs/cgroup/blkio}
use sysfs to obtain power
config EnabledEBPFCgroupID enabled:  true
config getKernelVersion:  5.15
config set EnabledEBPFCgroupID to  false

[2022-08-18 06:08] sunya-ch commented on #107
According to this log, the only condition that causes `EnabledEBPFCgroupID` disabled is cgroup.
The current implementation check the cgroup from this static path exists `/sys/fs/cgroup/cgroup.controllers`.
Could you confirm that this path exists on your host?

If exists on host, double check that Kepler deployment manifest is mounted to /sys path (this should be defined in the provided manifest).

[2022-08-18 06:12] ruomengh commented on #107
The path doesn't exist -
ls: cannot access '/sys/fs/cgroup/cgroup.controllers': No such file or directory

[2022-08-18 06:22] sunya-ch commented on #107
I see. It seems like your system is not installed cgroupv2 by [this approach](https://docs.okd.io/latest/post_installation_configuration/machine-configuration-tasks.html#nodes-nodes-cgroups-2_post-install-machine-configuration-tasks).
So that the file isn't created there as expected from this issue https://github.com/sustainable-computing-io/kepler/issues/29.

I think we should change the way to d

[2022-08-18 09:07] ruomengh commented on #107
Seems cgroup v2 is disabled on the node to avoid another issue.
I tried this for cgroup v1 as @rootfs suggested but it doesn't work either https://github.com/sustainable-computing-io/kepler/blob/main/manifests/kubernetes/deployment.yaml#L71

[2022-08-25 12:46] Feelas opened #113 "dial error: dial unix /tmp/estimator.sock: connect: no such file or directory"
**Describe the bug**
After rolling over the daemonset to the latest image on quay.io registry (sha256:01a86339a8acb566ddcee848640ed4419ad0bffac98529e9b489a3dcb1e671f5) there is the message from title being shown constantly. Example output of the problem:
[code]
Is the estimator.sock expected to be missing in current state of the project?

Each node is reporting the same error.
As a sidenote, since

[2022-08-25 13:08] rootfs commented on #113
cc @sunya-ch

[2022-08-25 13:10] Feelas commented on #113
I just verified that rolling over to previously working image (sha256:4ad0c2f56538c383f1b3a90ccc756fcf937f0a436fafb88a23b9a780164f7be9) gets the metric gathering process working again.

[2022-08-25 13:14] rootfs commented on #113
thank you for confirming this @Feelas!

The estimator socket feature is a work-in-progress. We'll test this out more thoroughly and keep you posted

[2022-08-25 13:30] rootfs commented on #113
@Feelas the message `dial unix /tmp/estimator.sock: connect: no such file or directory` is benign. The short story is that, the estimator sidecar is not yet started (this is being worked on in #104 and the [estimator repo](https://github.com/sustainable-computing-io/kepler-estimator)). Upcoming PRs will start up the estimator sidecar and create the sock.

Thanks for testing!

[2022-08-25 13:41] Feelas commented on #113
Thank you for a confirmation of that :) Is it expected that the aforementioned version will log no metrics to Prometheus and should we stick to the estimator-less version for now?

[2022-08-25 13:44] rootfs commented on #113
@Feelas The metrics are still logged.

But if you want to give it a spin, please run the previous (aka latest) kepler image, and patch the deployment to kick off the estimator, that'll make the warning message go away.
[code]
[code]

[2022-08-25 13:56] sunya-ch commented on #113
Only dynamic power that will be always exported as 0 (not estimated).
The hardware counters, cgroups and pod package power are expected to be exported to prometheus if they are available.
If not, we have to investigate the issue.
I suggest to use the updated version because the previous one collects cgroup metric in a wrong way and the overflow issue is not handled on some metrics.

[2022-08-25 14:37] Feelas commented on #113
Hello sunya-ch and thanks for giving this some attention!

- Pod's metrics are correctly reported with expected pods from expected nodes
- I can see pod_energy_stat and other expected metrics in Prometheus, thus confirming that they are being sent
- Prometheus address is set to 0.0.0.0:9102

The "grafana dashboard should be updated" note is what it boils down to, I think.
I can see that dashboards

[2022-08-25 15:13] rootfs commented on #113
@Feelas thanks for the detailed test! If you can submit a PR on the grafana name change, that'll be great.

[2022-08-25 15:38] sunya-ch commented on #113
Thank you so much for your kind testing. It's very good to see the expected behaviour there :)

And yes, your understanding is perfectly correct 👍

[2022-08-26 09:25] Feelas commented on #113
Good to hear then : )

Going back to issue topic, the estimator.sock issue has been well explained (as WIP & expected) and I think we can close this to not keep this ticket unnecessarily open.

[2022-08-26 11:14] rootfs commented on #113
sounds great @Feelas

[2022-08-26 14:55] rootfs commented on #113
keep this issue open till the dashboard and metrics are consistent

[2022-08-29 08:13] Feelas commented on #113
Not going to commit right now since I don't know whether there will be time to address this, but will look into it.

Quick question: is there a direct replacement for previous "pod_energy_total", which was a total of cpu+dram? I see there are many more metrics exported right now and summing them up directly in dashboard would be cumbersome.

[2022-08-29 10:56] sunya-ch commented on #113
Thank you for pointing this out.
pkg energy will include cpu, dram, and uncore which are reported by RAPL.
pod package energy computed from RAPL package power is `pod_<curr|total>_energy_in_pkg_millijoule`

However, we might add another metric that is package energy + GPU energy + the other part (node - package - GPU if node energy is available) to replace the pod_energy_total. Currently, this val

[2022-08-29 12:07] Feelas commented on #113
So it seems that "pod_energy_total" & "pod_energy_current" is almost same as "pod_<curr|total>_energy_in_pkg_millijoule" and these could theoretically be used as a replacement, correct?

[2022-08-29 12:18] sunya-ch commented on #113
I am not sure about the original purpose of the pod_energy_total and pod_energy_current but if it includes just only the energy from package (mainly core+dram), my answer is yes.

[2022-08-29 12:43] Feelas commented on #113
Taking a look at commit de3584a9c3a754b17762b08e9494950f7c3b14d3 it seems to be calculated as core+dram.

[2022-08-29 19:47] rootfs commented on #113
the dashboard picks up the latest metrics name now.

[2022-08-29 19:47] #113 closed

[2022-08-30 14:53] Feelas opened #119 "Dashboard issues - Datasource not found, OpenShift installation URLs are incorrect"
**Describe the bug**
Importing Grafana dashboard with process found in manifests/openshift/dashboard 04-grafana-dashboard.yaml fails due to changes introduced in #116. The URL inside no longer exists.

When dashboard is imported by hand to avoid the previous issue, several datasource errors are thrown by Grafana, related to the dashboard being non-standarized (has hardcoded Prometheus UIDs). In PR

[2022-08-31 09:20] Feelas opened #120 "Pod eCore, eUncore is reported as 0, pod in_core metrics reported as 0"
**Describe the bug**
In kepler-exporter pod logs, eCore is reported as 0 for all pods.
pod_<curr|total>_energy_in_core_millijoule parameters are correctly sent to Prometheus, but also set to 0 all of the time.

**To Reproduce**
1. Run kepler-exporter
2. Check values of eCore metrics and pod_<curr|total>_energy_in_core_millijoule metrics inside Prometheus.

**Expected behavior**
eCore metrics are n

[2022-08-31 11:44] rootfs commented on #120
cc @sunya-ch

[2022-08-31 11:52] sunya-ch commented on #120
Could you check whether the core and uncore energies are reported by RAPL in your file system?
[code]

note: According to previous PR, instead of implying core from `pkg - dram` or vice versa if dram is not available, I think we should report only if that energy event is available.

[2022-08-31 11:56] Feelas commented on #120
That's interesting:
`[core@worker2 ~]$ cat /sys/class/powercap/intel-rapl/intel-rapl\:0/intel-rapl:*/name
dram
`

[2022-08-31 12:03] rootfs commented on #120
@Feelas can you try one more thing:

[code]

Here is what i have on my setup
[code]

[2022-08-31 12:08] sunya-ch commented on #120
The previous version computes core = package - dram if core event doesn't exist.
Package energy should be equal to core + dram + uncore.  Uncore energy is omitted.

[2022-08-31 12:19] Feelas commented on #120
@rootfs got the same output here
[code]
Can be confirmed also by inspecting dmesg
[code]

[2022-08-31 18:48] #120 closed

[2022-09-01 13:25] Feelas opened #125 "In Grafana dashboard the "CPU" metric is sometimes bigger than "pkg" metric"
**Describe the bug**
CPU metric from the same timeframe is sometimes bigger than pkg metric on a platform where (as discussed in #120) Core is derived from Pkg. On the presented screenshot, the green metric is pkg (labeled as "Total") and the yellow one is Core - there are numerous periods when Core is higher than pkg, despite pkg is derived from Core.

_This is possibly an artifact of Grafana que

[2022-09-01 13:28] rootfs commented on #125
@Feelas thanks for finding this! Is the pod level metric or node level?

cc @sunya-ch

[2022-09-01 13:36] Feelas commented on #125
@rootfs This is pod level, I didn't take a look at node level.

[2022-09-01 14:19] sunya-ch commented on #125
Is this the query you are using?

[          "expr": "rate(pod_curr_energy_in_core_millijoule{pod_namespace=\"$namespace\", pod_name=\"$pod\"}[1m])/3",
](https://github.com/sustainable-computing-io/kepler/blob/e285f319878cc45fb7cc2a59242b7438d4f3acad/grafana-dashboards/Kepler-Exporter.json#L224)

If we are going to apply rate function, I think we should apply it to the total value instead of curr

[2022-09-01 14:31] Feelas commented on #125
@sunya-ch might be something obvious, but why exactly is there division by three applied to pod_curr_energy_in_core? I've seen this on every dashboard present in the repository, but I don't quite understand where the 1/3 scaling comes from.

[2022-09-01 14:34] sunya-ch commented on #125
3s is the kepler default ticker period. Current value is the gauge value that includes value only in that period. So, we divide it by 3 to average for 1s.
For total value, it is accumulated value. Applying rate/irate function will compute per-second rate from accumulated counter. So, there is no need to divide it by 3 again.

[2022-09-02 08:02] Feelas opened #126 "03-grafana-datasource-define.sh uses deprecated 'oc serviceaccounts get-token'"
**Describe the bug**
As can be seen in [OpenShift 4.11 release notes](https://docs.openshift.com/container-platform/4.11/release_notes/ocp-4-11-release-notes.html), the dashboard creation command found in `manifests/openshift/dashboard/03-grafana-datasource-define.sh` uses deprecated `oc serviceaccounts get-token grafana-serviceaccount -n monitoring` command. As a result, the command does not retu

[2022-09-02 11:49] rootfs commented on #126
OpenShift 4.11 is based on kubernetes 1.24, this token issue is similar to #110
cc @ruomengh

[2022-09-02 18:43] sallyom opened #127 "Update installation manifests to include a serviceaccount access token secret"
**Describe the bug**
Manifests for deploying kepler require an update wrt the grafana serviceaccount access tokens.
As of latest kube version, serviceaccounts no longer automatically generate access tokens. Now a token secret is required. I'll submit an update.

https://docs.openshift.com/container-platform/4.11/authentication/using-service-accounts-in-applications.html#auto-generated-sa-token-sec

[2022-09-02 18:48] rootfs commented on #127
refer to #126

[2022-09-02 18:48] rootfs commented on #127
@williamcaban

[2022-09-02 19:15] sallyom commented on #127
I'll close this one in favor of https://github.com/sustainable-computing-io/kepler/issues/126! I looked but didn't see that one :)

[2022-09-02 19:15] #127 closed

[2022-09-02 19:42] sallyom commented on #126
will need to update the manifests to create the secret similar to the dev/role.yaml also https://github.com/sustainable-computing-io/kepler/blob/main/dev/role.yaml#L23-#L34

[2022-09-05 03:38] jichenjc opened #130 "kepler-exporter-lvr6f in CrashLoopBackOff"
install from https://www.youtube.com/watch?v=P5weULiBl60
on a kind container.. got following error

[code]

[2022-09-05 03:41] jichenjc commented on #130
looks like `/lib/modules/4.15.0-20-generic` is missing..
so some kind of doc need to be updated

[2022-09-05 06:01] jichenjc commented on #130
found the root cause, sorry for confusion

[2022-09-05 06:01] #130 closed

[2022-09-05 06:36] jichenjc opened #131 "panic: inconsistent label cardinality: expected 21 label values but got 20"
**Describe the bug**
A clear and concise description of what the bug is.

follow https://github.com/sustainable-computing-io/kepler

after `~/kube-prometheus# kubectl apply -f manifests/`, saw this error

seems something inconsistent ..
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear an

[2022-09-05 07:47] sunya-ch commented on #131
@jichenjc Thank you for reporting issue.
Would you mind sharing the head part from the kepler-exporter log?
This may help scope down and debug the missing labels.

[code]

[2022-09-05 07:53] jichenjc commented on #131
thanks for comments, here's start of log

[code]

worthy note is seems the pod become Running after failure above..
not sure what pod/actions did the magic as I didn't do anything..

[code]

[2022-09-05 08:00] jichenjc commented on #131
`curl localhost:9102/metrics` run this will cause the pod to crash as reported above ...

[2022-09-05 13:37] Feelas opened #132 "Same eCore being reported for three cores with different frequencies"
**Describe the discussion topic**
Something I have noticed today when running another bunch of tests. Let's say I have three different pods, each scheduled on a CPU with a different frequency setup. What I can see in logs is similar to this (grepped to contain the barest minimum):
[code]
**Since the fastest pod is using using 4x CPU freq of slowest-pod and about 25% more than the normal-pod, does

[2022-09-05 15:16] sunya-ch commented on #131
Thank you for proving the log and reporting this issue.
The exported labels is 20 if no frequency option enable in BPF (`-DCPU_FREQ`).
My guess is it is a bug that when determining the prometheus label `EnableCPUFreq` is true before attacher can check the failure.
Could you try grepping `-DCPU_FREQ` from kepler log to confirm this assumption?

[2022-09-05 16:38] sunya-ch commented on #132
@Feelas This is very interesting result. The currently reported pod energy is simply computed by ratio of CPU cylces counters. Could you also confirm the pod usage (CPU cycles) and the node-level energy and counter (total package energy, total CPU cycles) at the same time slot?

[2022-09-06 00:13] jichenjc commented on #131
thanks for the tip, yes, something wrong here,
I don't know what happened here , need dig more as brand new here :)

[code]

[2022-09-06 00:41] sunya-ch commented on #131
@jichenjc Thank you for confirming this.
Hope it can be fixed by this PR: https://github.com/sustainable-computing-io/kepler/pull/135

[2022-09-06 00:50] sunya-ch commented on #131
Also, it seems the BPF cannot be attached to your system even with only `DNUM_CPUS` option due to `permission denied` at loading.
Could you provide the VM OS and kernel version?

[2022-09-06 01:23] sunya-ch commented on #131
I think the current version of kepler is not compatible with BPF library on Ubuntu yet.
One of our team is now working on that.

If it becomes available, BPF should be able to be attached and track CPU time of the process.
Running on top of VM would affect the visibility of physical file system and some data may not be available such as  RAPL power, CPU frequency, and hardware counters.

[2022-09-06 01:25] jichenjc commented on #131
One of our team is now working on that.

I might miss this info, so I have to run on RHEL ? I will give a try

[2022-09-06 04:34] sunya-ch commented on #132
@Feelas  I think we found the cause of issue. I mistakenly use UncoreMetric which even division to determine the core energy.
Please find the update in this PR.
https://github.com/sustainable-computing-io/kepler/pull/136

[2022-09-06 08:59] Feelas commented on #132
@sunya-ch thanks for prompt intervention! Manually built an exporter image from #136 and the results make more sense towards to what was observed before, at least intuitively.

[2022-09-06 11:44] rootfs commented on #132
@Feelas thank you for confirming!

[2022-09-06 14:08] #131 closed

[2022-09-07 00:39] jichenjc opened #141 "why use http to get pod instead of using native k8s call"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

looks like we are using this to get pods info ,it works but why we don't use k8s native way as it seems
widely used in k8s world ?
[code]

something like

return client.CoreV1().Pods("").Watch(context.TODO(), metav1.ListOptions{} etc?

**D

[2022-09-07 00:55] rootfs commented on #141
It is a design choice to be more scalable. The native k8s Pod API is to access the API server, while the kubelet call through HTTP(s) is initiated and ended on each node. The former will stress the API server when there are many nodes, while the latter doesn't have this issue.

[2022-09-07 00:55] #141 closed

[2022-09-07 08:43] Feelas commented on #125
I think that this might have been caused by the "uncore metric bug" described in #132 and fixed by #136. I didn't notice this issue after moving to image patched with PR 136.

Despite that, due to what @sunya-ch mentioned w/ regards to using rate on total metrics or curr metrics, a dashboard metric review would be a good next step to take, I think.

[2022-09-07 12:08] rootfs commented on #125
@Feelas cool! PR is welcome!

[2022-09-08 19:21] sallyom opened #147 "Kepler on OpenShift, energy estimates are all zeros"
I deployed with the following commands on OpenShift
(from PR #128 manifests/openshift/README)

[code]

All resources are healthy, but energy estimates are all showing zeros, like so
![grafana](https://user-images.githubusercontent.com/11166065/189208021-cb18fae5-77ff-4e6d-ae5d-dab2bb87a537.png)

[2022-09-08 19:22] rootfs commented on #147
[code]

[2022-09-09 01:14] sunya-ch commented on #147
just implement here.
https://github.com/sustainable-computing-io/kepler/pull/150

[2022-09-09 09:10] jichenjc opened #153 "docker(containerd): not able to read container, plan to support?"
**Describe the bug**
A clear and concise description of what the bug is.

https://github.com/sustainable-computing-io/kepler/blob/main/pkg/pod_lister/resolve_container.go#L202

expecting pod/crio
this works on RHEL

[code]

but I run this on docker(containerd) got following

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See

[2022-09-09 09:11] jichenjc commented on #153
I am running cgroupv1 but I think it's not related?

[2022-09-09 09:19] jichenjc commented on #153
I think this might be the way to get containerd ID ....

[code]

[2022-09-09 09:51] jichenjc opened #154 "running UT at /kepler/pkg/pod_lister always Success"
**Describe the bug**
A clear and concise description of what the bug is.

no matter condition it is , always success due to
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help exp

[2022-09-09 09:55] jichenjc commented on #154
root cause is following function will already run at init so it will httpGet and failed with above error

func init() {
        updateListPodCache("", false)
}

[2022-09-09 10:02] jichenjc commented on #154
/assign

[2022-09-09 10:18] sunya-ch commented on #154
I think there is no unit test case applied for pod lister yet.
You should add RegisterFailHandler and RunSpecs to make it as the example in suite_test.go in cgroup/collecter/model.
https://github.com/sustainable-computing-io/kepler/blob/c65de66ea9325920561f02c97cb68934d5d29fef/pkg/cgroup/suite_test.go#L27

more information about ginkgo test here: https://onsi.github.io/ginkgo/

The init function w

[2022-09-09 10:21] jichenjc commented on #154
I put a very simple test in the folder

[code]

and it apparently is not correct

[2022-09-09 10:24] jichenjc commented on #154
ok, let me try this

[2022-09-09 10:29] jichenjc commented on #154
indeed, sorry for confusion

[2022-09-09 10:29] #154 closed

[2022-09-09 10:32] sunya-ch commented on #154
Good to hear that it's solved :)

[2022-09-09 11:27] rootfs commented on #153
@jichenjc would #152 help?

[2022-09-09 14:00] marceloamaral commented on #120
@Feelas please see the PR #156

[2022-09-11 02:51] SamYuan1990 opened #160 "add badges in readme"
**Is your feature request related to a problem? Please describe.**
N/A

**Describe the solution you'd like**

- [ ] go doc
- [ ] go test coverage
- [ ] CI

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2022-09-11 02:53] SamYuan1990 opened #161 "Add lint and memory leak detection as a basic test case in CI"
**Is your feature request related to a problem? Please describe.**
Before unit test running, we'd better have a lint test and memory leak detection as a part of CI.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
`go fmt, vet, goimports ....`
[code]

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2022-09-11 02:55] SamYuan1990 opened #162 "Enhance CI with basic integration test"
**Is your feature request related to a problem? Please describe.**
So far, we just verify by `until kubectl get svc --all-namespaces  ...`
to make it better, we'd better have a test suite and targeting on running service.

**Describe the solution you'd like**
as above.

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2022-09-11 18:50] williamcaban opened #163 "Possible wrong spelling on variable name"
It looks to me the `NODE_ENERGY_STAT_METRRIC = "node_energy_stat"` on line29 https://github.com/sustainable-computing-io/kepler/blob/5d4f4e93c8a28c2e21244ea1dfa4817affc7bb44/pkg/collector/collector.go#L29 might be spelling error.

Can anyone confirm? The same spelling is also used on the following files:

https://github.com/sustainable-computing-io/kepler/blob/424d2f88d2c050a354c023e8b830afefd312b

[2022-09-11 21:48] rootfs commented on #163
@williamcaban nice code reading! PR welcome

[2022-09-12 03:29] jichenjc commented on #153
I guess not .. both use containerd/docker below

RHEL
[code]

Ubuntu
[code]

[2022-09-12 12:31] marceloamaral commented on #153
Is the container in a pod? The path you shared has no pod information.

I'm asking this because most of the logic was built for a path that contains the pod information...

[2022-09-12 22:33] marceloamaral opened #169 "Fix golint issues highlighted by golangci-lint"
**Is your feature request related to a problem? Please describe.**
The PR #168 introduces go linters to improve the code quality highlighting problems.

After executing golangci-lint locally, it has identified 125 issues in the current code. As you can see [here](https://pastebin.com/HZSxYtTb).

**Describe the solution you'd like**
Fix the issues in the code.

**Additional context**
This is PR is

[2022-09-12 22:35] marceloamaral commented on #29
The PR ##152 fixed this.

[2022-09-12 22:35] #29 closed

[2022-09-12 23:54] jichenjc commented on #153
ok, I used docker at above output , seems I should use k8s ,then I used such at Ubuntu host

[code]

[code]

[2022-09-12 23:56] jichenjc commented on #153
so looks like it should support by existing code, will add some UT to prove

[2022-09-13 00:07] jichenjc commented on #153
I got this from RHEL , same to yours @rootfs ,so we need support both (maybe more like SLES but can be done later)
[code]

[2022-09-13 00:11] rootfs commented on #153
@jichenjc it you want to give it a try? would you also like to write a unit test too? That'll make sure the regex works for all.

[2022-09-13 00:12] jichenjc commented on #153
yes, I am working this now

[2022-09-13 13:48] rootfs commented on #162
The service readiness detection is to be supported in kepler-operator

[2022-09-13 16:28] mengfj opened #173 "Kepler on s390 platform"
**Is your feature request related to a problem? Please describe.**
As an s390 application developer or SRE, I'd like to get the energy consumption measurement on x390, so that I can have real-time monitoring of power consumption of my environments on s390.

**Describe the solution you'd like**
I would like to have Kepler running on s390x platform and measure the power consumption.

**Describe alte

[2022-09-13 16:30] mengfj commented on #173
@rootfs please help assign this to myself, @jichenjc and other colleagues. We'll start from the verification. Thanks!

[2022-09-14 00:40] #169 closed

[2022-09-14 00:41] rootfs commented on #161
in addition to memory leak, please also consider [vulnerability detection](https://pkg.go.dev/golang.org/x/vuln/cmd/govulncheck)

[2022-09-14 06:10] jichenjc opened #179 "getKernelVersion doesn't work at all"
**Describe the bug**
A clear and concise description of what the bug is.

https://github.com/sustainable-computing-io/kepler/blob/main/pkg/config/config.go#L65

paste those to https://go.dev/play/ and run it
[code]

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description

[2022-09-14 06:11] jichenjc commented on #179
I will submit a PR to fix this soon

[2022-09-14 06:12] jichenjc commented on #179
https://github.com/zcalusic/sysinfo/blob/99e836ba64f229922382eecd8a346e6b3d1b560a/kernel_linux.go#L22

we can refer to this function and just use it instead of using the whole library

[2022-09-14 10:22] SamYuan1990 commented on #179
but `fmt.Println(si.Kernel.Version)` is empty at go playground.

[2022-09-14 10:24] jichenjc commented on #179
I don't think we should use this library (at least for now) at all
as you can see , they just read a file and we should get from that file directly
https://github.com/zcalusic/sysinfo/blob/99e836ba64f229922382eecd8a346e6b3d1b560a/kernel_linux.go#L22

[2022-09-14 10:38] SamYuan1990 commented on #179
I am not sure if this one looks better
https://github.com/cilium/ebpf/blob/b81c37125bd70a4f086b073e821a5ea79b31e394/features/version.go#L12
...// ignore for code trace stack
https://github.com/cilium/ebpf/blob/3418f341ac0460cf4164146e0c1ec6c40156b4fc/internal/vdso.go#L21

[2022-09-14 11:20] SamYuan1990 opened #181 "Deploy prometheus operator as a part of integration test"
**Is your feature request related to a problem? Please describe.**
so far we just handle deployment test for kepler pod itself, moving next we hope a deployment with prometheus operator and running integration test.

**Describe the solution you'd like**
Prometheus operator
https://github.com/prometheus-operator/prometheus-operator#quickstart
[code]

**Describe alternatives you've considered**
n/A

[2022-09-14 11:23] SamYuan1990 opened #182 "microshift as an environment for integration test"
**Is your feature request related to a problem? Please describe.**
add microshift as micro of openshift as integration test env

**Describe the solution you'd like**
considering github action providing agent as ubuntu, should try command below to see if we are able to use microshift as a k8s cluster for integration test.
https://github.com/thinkahead/microshift/blob/main/install-ubuntu22.04.sh

**

[2022-09-14 14:58] marceloamaral commented on #179
We can read the os-release files instead of use the library.
For example [docker-slim](https://github.com/docker-slim/docker-slim/blob/10c72982ce4c6e4bb8f76ffc2a50faeb70c6a2f0/pkg/system/os_release.go#L14) reads different files depending on the OS distribution.
Note that we also need to support macOS for developing purpose.

Could you please submit a PR for this?

[2022-09-14 17:01] rootfs commented on #182
cc @sallyom

[2022-09-14 17:19] rootfs commented on #179
we can read `/proc/version`
[code]
[Here](https://go.dev/play/p/YULURUIhHP9) is the go  playground test

[2022-09-14 17:32] rootfs commented on #179
`GetSysInfo` gets kernel version from [/proc/sys](https://github.com/zcalusic/sysinfo/blob/99e836ba64f229922382eecd8a346e6b3d1b560a/kernel_linux.go#L22)

While [uname](https://github.com/wertarbyte/coreutils/blob/master/src/uname.c#L287) and golang [Uname](https://pkg.go.dev/syscall#Uname) use syscall.

Let's switch to the uname way.

[2022-09-15 00:14] jichenjc commented on #179
yes, thanks for the info, I will update the code with your comment soon

BTW I don't have Mac env, guess the unix way should be able to cover that as well?

[2022-09-15 01:50] huoqifeng opened #184 "Build s390x image via buildx cross-platform"
Leverage docker buildx cross-platform to build s390x image.

- [ ] ~~builder~~
- [ ] base https://github.com/sustainable-computing-io/kepler/pull/194, https://github.com/sustainable-computing-io/kepler/pull/202
- [ ] kepler https://github.com/sustainable-computing-io/kepler/pull/203
- [ ] Build scripts for multi-arch for local  https://github.com/sustainable-computing-io/kepler/pull/241

[2022-09-15 01:50] huoqifeng commented on #173
https://github.com/sustainable-computing-io/kepler/issues/184

[2022-09-15 01:52] marceloamaral commented on #179
Here is what I get:

[code]

[code]

[2022-09-15 01:56] jichenjc commented on #179
is https://github.com/sustainable-computing-io/kepler/issues/179#issuecomment-1247090703 works for you?

anyway, as metioned, previously the mac version from sysinfo library doesn't have Mac implementation at all...

[2022-09-15 05:45] xiaopeng-zh commented on #160
@SamYuan1990 Can I take this one?

[2022-09-15 12:24] SamYuan1990 commented on #160
welcome

[2022-09-15 14:07] SamYuan1990 opened #186 "add DCO check?"
**Is your feature request related to a problem? Please describe.**
I am not sure if we should enable https://github.com/dcoapp/app to ensure everyone signed their commit in pr.

**Describe the solution you'd like**
n/A

**Describe alternatives you've considered**
n/A

**Additional context**
n/A

[2022-09-15 14:59] SamYuan1990 commented on #182
@rootfs ,@sallyom , may I know
- when will this think a head back to https://github.com/openshift/microshift
- is there any sample to upload local docker image to microshift so that in PR we can upload PR build to microshift for test?

[2022-09-15 23:26] cooktheryan commented on #186
+1

[2022-09-15 23:29] cooktheryan commented on #184
this could be a cool tool to leverage for this work https://github.com/docker/build-push-action

Example https://github.com/migtools/gitops-primer/blob/main/.github/workflows/validate-primer.yaml#L361-L368

[2022-09-16 06:40] xiaopeng-zh commented on #160
There are two ways to set the `go test coverage` badge.

- Static way: Just hardcode the percentage of coverage but needs to update the data when the value changes.
- Dynamic way: Get the latest coverage data & update it automatically. Ref: [go-coverage-badge](https://github.com/marketplace/actions/go-coverage-badge)

@SamYuan1990 Which way is suitable for us now?

[2022-09-16 07:23] huoqifeng commented on #184
I noticed package `nvidia-driver-NVML-515.48.07-1.el8.x86_64.rpm` here in base image https://github.com/sustainable-computing-io/kepler/blob/main/build/Dockerfile.base#L6, looks only has x86 arch supported?

[2022-09-16 07:26] huoqifeng commented on #184
@mengfj @SamYuan1990 @jichenjc I don't think LinuxONE has nvidia card installed, so it's reasonable that package `nvidia-driver-NVML` does not support s390x. Is this package key to kepler?

[2022-09-16 10:14] xmulligan opened #190 "Add Kepler to eBPF landscape"
**Is your feature request related to a problem? Please describe.**
Add Kepler to the eBPF Landscape https://ebpf.io/applications

**Describe the solution you'd like**
It would be great if you could open a PR like https://github.com/ebpf-io/ebpf.io-website/pull/246

**Describe alternatives you've considered**
N/A

**Additional context**
We love to see the eBPF community grow 🐝

[2022-09-16 11:44] SamYuan1990 commented on #184
Personally,  I suppose we need to have a MVP on s390x.

Specifically for automation point of view, the MVP is to build s390x based golang binary and running it in a s390x based fedora image?
As far as I know:
- there lots of golang build tag in current build, sooner or later we should have one for s390x. (as so far kepler build logic is basing on build tag for different hardware.)
- then for docke

[2022-09-16 11:47] SamYuan1990 commented on #160
I suppose if the dynamic way means the test coverage will updated once after each PR merged, then I prefer dynamic way.
we should not update data for test coverage in manual.

@rootfs , any comments?

[2022-09-16 22:14] rootfs commented on #190
this is a good idea @xmulligan

[2022-09-16 22:15] rootfs commented on #160
dynamic way it is, thank you @xiaopeng-zh for taking this!

[2022-09-16 22:30] rootfs commented on #184
@huoqifeng I don't know much about nvidia on s390, the nvml pkg can be [turned on and off](https://github.com/sustainable-computing-io/kepler/blob/main/cmd/exporter.go#L39) at runtime. You can make a conditional build for s390 to turn off nvml support if necessary.

[2022-09-17 00:27] rootfs opened #192 "CI needs more instrumentation"
**Describe the bug**
CI is getting flaky
[code]
**To Reproduce**
Recent CI results [here](https://github.com/sustainable-computing-io/kepler/actions/runs/3071410017/jobs/4962047170#step:8:237)
**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following i

[2022-09-17 00:30] rootfs opened #193 "cover: open coverage.out: no such file or directory"
**Describe the bug**
go coverage CI error

[code]

**To Reproduce**
This is in this [run result](https://github.com/sustainable-computing-io/kepler/actions/runs/3071410020/jobs/4962047268)

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following info

[2022-09-17 00:30] rootfs commented on #193
cc @xiaopeng-zh

[2022-09-17 11:39] SamYuan1990 commented on #193
@rootfs , I will update ...
btw, I hope you can merge the PR in carefully .... https://github.com/sustainable-computing-io/kepler/actions/runs/3066091930/jobs/4961441566#step:6:358

[2022-09-17 12:07] kenplusplus opened #197 "Prometheus not able monitor the metrics from kepler namespace by default"
**Describe the bug**
In [commit](https://github.com/sustainable-computing-io/kepler/commit/7510936f96c9e971c3a55de3abe4ea1f46a55cac), the namespace is changed from monitoring => kepler. This break prometheus discovery the metrics from the namespace monitoring by default.

**To Reproduce**
Steps to reproduce the behavior:
1. Follow the readme to deploy Kelper according to https://github.com/sustain

[2022-09-17 12:10] kenplusplus commented on #197
@marceloamaral I think there are two ways to fix this issue:
1. Rollback previous commit, put the namespace back to "monitoring", then it will allow promethus works without any addtional changes
2. Or, give step to customize the prometheus to monitoring different namespace like https://prometheus-operator.dev/docs/kube/monitoring-other-namespaces/

What's your thoughts?

[2022-09-17 12:23] rootfs commented on #197
Thank you for this diagnosis, the problem looks to be in the ServiceMonitor namespace [here](https://github.com/sustainable-computing-io/kepler/blob/main/manifests/kubernetes/keplerExporter-serviceMonitor.yaml#L8), would you like to update the ns there and see if it works? @kenplusplus

[2022-09-17 12:39] kenplusplus commented on #197
@rootfs Actually, I have tried, it is not enough. Because prometheus only has permission to access the metrics from the namespace of "monitoring". If want prometheus monitor multiple namespace, you have to configure RBAC rules in promethus operators like below, see [refer](https://prometheus-operator.dev/docs/kube/monitoring-other-namespaces/). It really love the namespace kepler, then we should a

[2022-09-17 12:45] rootfs commented on #197
@sallyom updated the ns for openshift and it is working there, is there any special openshift that we can use for kubernetes?

[2022-09-17 12:47] SamYuan1990 commented on #192
https://github.com/sustainable-computing-io/kepler/actions/runs/3073381944/jobs/4965474260#step:8:233
I see latest CI passed, @rootfs  is this issue able to reproduce easily?

[2022-09-17 12:53] rootfs commented on #192
let's keep an eye on it and re-open this issue if it happens again.

[2022-09-17 12:57] rootfs commented on #197
@kenplusplus enabling monitoring other ns looks the way to go per the [openshift config](https://github.com/sustainable-computing-io/kepler/blob/main/manifests/openshift/dashboard/00-openshift-monitoring-user-projects.yaml)

[2022-09-17 13:11] kenplusplus commented on #197
Yes, I just saw that~~ openshift specific. I am thinking to use [promethus-operator](https://github.com/prometheus-operator/prometheus-operator/blob/main/Documentation/user-guides/getting-started.md) instead of kube-promethus because configure RBAC for new namespace is too complex.

[2022-09-17 15:48] SamYuan1990 commented on #181
closed by #185

[2022-09-17 15:48] #181 closed

[2022-09-17 19:07] #193 closed

[2022-09-18 12:02] #197 closed

[2022-09-19 01:34] xiaopeng-zh commented on #160
Ref: https://github.com/sustainable-computing-io/kepler/pull/189, the PR merged, this can be closed.

[2022-09-19 01:44] #160 closed

[2022-09-19 09:14] xmulligan commented on #190
Thanks! Looking forward to getting it added before eBPF Summit next week

[2022-09-19 10:11] SamYuan1990 opened #206 "github-action user can't push commit back"
**Describe the bug**
github-action user can't push commit back

**To Reproduce**
Steps to reproduce the behavior:
1. See error https://github.com/sustainable-computing-io/kepler/actions/runs/3079415202/jobs/4980117646#step:9:7

**Expected behavior**
github-action can push commit back as sample https://github.com/SamYuan1990/kepler/commit/62d342d974d9681ff94e4537e851174f3fce7b4d

**Screenshots**
n/

[2022-09-19 10:14] SamYuan1990 commented on #206
<img width="868" alt="image" src="https://user-images.githubusercontent.com/7820992/190996091-28862326-e989-4fc8-ae71-f1eed91f0b4d.png">
local fork setting is empty

[2022-09-19 14:33] rootfs commented on #190
@xmulligan PR opened at https://github.com/ebpf-io/ebpf.io-website/pull/255, review appreciated, thanks

[2022-09-19 16:01] rootfs opened #210 "Accelerate unit_test_with_bcc"
**Is your feature request related to a problem? Please describe.**
Accelerate [unit_test_with_bcc](https://github.com/sustainable-computing-io/kepler/blob/main/.github/workflows/unit_test.yml#L64-L83)

**Describe the solution you'd like**
Currently the test spends much time on preparing the bcc on ubuntu.

**Describe alternatives you've considered**
Since we already build bcc in [kepler base](http

[2022-09-20 01:49] jichenjc opened #211 "some pod energy not reported"
**Describe the bug**
A clear and concise description of what the bug is.

Ubuntu env (kind running on a Ubuntu host)

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain y

[2022-09-20 01:51] jichenjc opened #212 "log/println usage"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

we use fmt.Println , log.Println etc in code

we should follow best practice to include log only
and use different level such as Log.V(3) / V(4) etc to show different logs with different level

**Describe the solution you'd like**
A clear

[2022-09-20 10:13] xmulligan commented on #190
/lgtm :)

[2022-09-20 10:13] #190 closed

[2022-09-20 10:15] SamYuan1990 commented on #210
- we have different tag used for different system.
- our code coverage, as unit test just focusing on kepler/kepler core logic but not each tag.
- for each build tag targeting with specific system/hardware, provider should keep eye on them self?
- if possible should we test with specific system/hardware? I suppose yes.
- Here comes the thing at unit test scope, as should we run the test base on a

[2022-09-20 12:24] rootfs commented on #210
The [kepler base container](quay.io/sustainable_computing_io/kepler_base:latest) has already installed bcc. No build is needed. It is the target environment where kepler runs. Aligning the CI setup to this environment is closer to what we need.

[2022-09-20 12:57] SamYuan1990 commented on #210
I also checked bcc https://github.com/iovisor/bcc/blob/master/INSTALL.md#ubuntu---binary and ... as ubuntu's release for bcc is still out of date...

k... let's try to use base container to run the unit test.

[2022-09-20 13:05] jichenjc commented on #211
ok, I might need some guide on how the pod energy is actually calculated
I know we have ebpf, we have cgroup data, what's the formula to do the calcuation?
e.g some record should be in cgroup data first then find corresponding record in ebpf?

@rootfs

[2022-09-20 13:17] rootfs commented on #211
the current formula uses [ratio based](https://github.com/sustainable-computing-io/kepler/blob/main/pkg/model/estimate.go#L95-L120) method. If [enabled](https://github.com/sustainable-computing-io/kepler-estimator#patch-estimator-sidecar-to-kepler-daemonset), there is also a model based [dynamic power estimate](https://github.com/sustainable-computing-io/kepler/blob/main/pkg/model/estimate.go#L121

[2022-09-20 13:20] rootfs commented on #211
ebpf gets the info associated with the running process: cgroup id, pid, cpu runtime, perf counters, etc. This info is coupled with userspace info collected from sysfs and feed into the energy estimate formula to get the pod energy.

[2022-09-20 14:19] #210 closed

[2022-09-20 17:45] rootfs commented on #206
finally, we had our [first bot commit](https://github.com/sustainable-computing-io/kepler/commit/4af2a4a3357833f047aac637dfcd9c1f9ce05e5d)

[2022-09-20 17:50] rootfs commented on #206
This is what I've done:
- create a bot account, create a personal access token (PAT)
- add the bot account into repo with write permission
- add bot PAT to GH secrets
- allow bot to bypass:
![image](https://user-images.githubusercontent.com/7062400/191328720-d0b4e5ca-70e6-4aec-b661-6afbfa60c3cb.png)
- add the following to GH top action:
[code]
- add the following to GH checkout action (this is ver

[2022-09-20 17:50] #206 closed

[2022-09-20 17:53] rootfs opened #222 "CI: don't run test post PR merge"
**Is your feature request related to a problem? Please describe.**
CI: don't run test post PR merge

**Describe the solution you'd like**
Currently the CI runs tests and commit post PR merge, this takes time to see the merge. Since the tests are already executed when the PR is opened,  we only need to commit changes once the PR is merged

**Describe alternatives you've considered**

**Additional c

[2022-09-21 00:58] jichenjc commented on #211
indeed, previously I used
BM => VM => docker (kind) => k8s
now I switched to
BM => VM => k8s

it's much better now, will check all the links you provided, thanks

[2022-09-21 00:58] #211 closed

[2022-09-21 01:00] jichenjc commented on #179
I only tested the unix way in golang locally, but found those in latest build env

[code]
need check why ...

[2022-09-21 01:19] jichenjc commented on #179
5.4.0-48-generic is my OS, so based on current logic, it's 5.4. (not the .)
so not able to parse the kernel version

[2022-09-21 01:37] jichenjc opened #224 "keplerExporter-serviceMonitor.yaml contains clusterrole?"
**Describe the bug**
A clear and concise description of what the bug is.

keplerExporter-serviceMonitor.yaml has a clusterrole
[code]
but kube-prometheus/manifests/prometheus-clusterRole.yaml has such
so we will be reported such clusterrole exist

should we either remove this role defintion in our repo / sync the contents?

[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2.

[2022-09-21 08:37] marceloamaral commented on #186
+1

[2022-09-21 08:43] marceloamaral commented on #192
Maybe we need a larger timeout?
Let's see if it happen again

[2022-09-21 09:00] marceloamaral commented on #212
Right, this was in my TODO list...

It will be great to have different verbosity levels....

[2022-09-21 09:18] marceloamaral commented on #224
Right, we should remove this ClusterRole from the kepler repository.

At the moment the ClusterRole is the same, but kepler should not create it, but rather update it if necessary.

[2022-09-21 12:06] marceloamaral commented on #222
If it is tested pre merge, do we need to test again post merge?

[2022-09-21 13:08] SamYuan1990 commented on #222
for unit test, we relay on it for test coverage badge.
for docker build, yes, there no unit test for image. in fact test for docker file equals with build isn't it?
for integration test ... as I said, the reason is to ensure user use this project and receive a good result.

any comments?

[2022-09-21 15:37] SamYuan1990 commented on #222
@rootfs , are we good enough with necessary post action running for now?

[2022-09-21 15:57] SamYuan1990 commented on #222
I suppose so far it take about 5 mins for PR as the integration test take the longest time.
for post merge, I am not sure if we can save 1 more minutes as `CTR_CMD = docker`?
I am going to take a rest. as to tired to making mistake as https://github.com/sustainable-computing-io/kepler/pull/229 ...
will check msg tomorrow to avoid making more mistake.

[2022-09-21 16:46] rootfs commented on #222
kind test takes a bit longer but overall quite an improvement
![image](https://user-images.githubusercontent.com/7062400/191563704-6d02e0e4-4238-4c09-a5ed-3b07f5c23f1f.png)

[2022-09-21 16:46] #222 closed

[2022-09-22 02:49] #224 closed

[2022-09-22 06:07] wangchen615 opened #232 "Exporting Workload Performance Metric as an independent metric that can be queried via Prometheus"
**Is your feature request related to a problem? Please describe.**
Currently, the `pod_energy_stat` metric is a summary object that includes all types of energy consumption metrics, resource usage metrics, and performance metrics like `curr_cpu_instr="18972163"` and `curr_cpu_time="305"`.

**Describe the solution you'd like**
We would like these performance metrics to be exported as independent qu

[2022-09-22 12:53] rootfs commented on #192
https://github.com/sustainable-computing-io/kepler/pull/231#issuecomment-1254422128

[2022-09-23 07:36] marceloamaral commented on #192
Thanks @SamYuan1990!

What we need is the artifacts https://docs.github.com/en/actions/using-workflows/storing-workflow-data-as-artifacts

So we will dump the logs and description of the pods to files in the artifact folder
Something like:
[code]

But, to save space we just dump the info when something fail

[2022-09-23 15:08] rootfs opened #237 "Need health checks"
**Is your feature request related to a problem? Please describe.**
Kepler currently only exports metrics, it doesn't have other health checks to report internal status

**Describe the solution you'd like**
A health check endpoint to report internal component health status, including ebpf collector, model server/estimator, model accuracy

[2022-09-24 11:56] #186 closed

[2022-09-24 14:18] SamYuan1990 commented on #192
any suggestion for fail handle?
I suppose our points is
[code]

[2022-09-25 00:59] marceloamaral commented on #192
@SamYuan1990 something like:
[code]

[code]

[2022-09-25 01:13] rootfs commented on #212
closed by #238

[2022-09-25 01:13] #212 closed

[2022-09-26 00:54] #179 closed

[2022-09-26 01:13] jichenjc commented on #232
to confirm , so you want to expose something like following

[]string{"curr_bytes_read", "curr_bytes_writes", "curr_cache_miss", "curr_cgroupfs_cpu_usage_us", "curr_cgroupfs_memory_usage_bytes", "curr_cgroupfs_system_cpu_usage_us", "curr_cgroupfs_user_cpu_usage_us", "curr_cpu_cycles", "curr_cpu_instr", "curr_cpu_time"}

into the prometheus ?

[2022-09-26 01:33] marceloamaral commented on #232
I am working on updating all metrics to be more compliant with Prometheus metrics best practices
So, I will send a draft soon and try to solve the problems here!

[2022-09-26 13:11] cooktheryan commented on #182
I do know that @sallyom was attempting to begin the work on integrating the OCP CI framework into this repository. She may also be able to comment if the ability still exists to run MicroShift completely containerized which would allow for us to successfully use it with Ubuntu. If not we may be able to fork the MicroShift testing framework for this project as well to deploy microshift and then the

[2022-09-26 13:23] sallyom commented on #182
the manifests/openshift are working now AFAIK, see here https://github.com/sustainable-computing-io/kepler/blob/main/manifests/openshift/README.md

I will report back wrt running on MicroShift - haven't tried that - however, if you have an OpenShift cluster you can deploy with the above README

[2022-09-26 15:15] nikimanoledaki opened #246 "Kind returns same value for all Pods in a namespace"
**Describe the bug**
All Pods return the same value in a kind cluster.

**To Reproduce**
On a MacOS, I created a Vagrant VM with VirtualBox as a driver to run Ubuntu 2204. I ensured that the VM meets all the Kepler requirements (kernel headers). Then, I created a kind cluster and bootstrapped Flux on it.

Below are the metrics for the Pods that I wanted to measure. They are the Pods containing the

[2022-09-26 15:52] rootfs commented on #246
@nikimanoledaki thank you for reporting this issue! Are you running on mac with ARM or x86 CPUs?

[2022-09-26 15:52] nikimanoledaki opened #248 "Panic when kernel header version is different from kernel version"
**Describe the bug**
Kepler panics when it does not find kernel-headers (`linux-headers-xyz`) with the same version as the kernel version (`uname -r`).

**To Reproduce**
kernel version:
[code]
I could not find kernel headers for this version because it's custom so I installed the next minor version, `linux-headers-5.11.0`, which should work as well.

However, now the `kepler-exporter` Pod fails wi

[2022-09-26 15:53] rootfs commented on #246
would you please get the head of the kepler pod log?
[code]

[2022-09-26 17:46] rootfs opened #249 "PR auto merge policy"
**Is your feature request related to a problem? Please describe.**
Set up role based auto merge.

Currently we have [assigned roles](https://github.com/sustainable-computing-io/kepler/blob/main/Contributors.md). The CI can take this info and auto merge PRs

**Describe the solution you'd like**
- The PRs should be labeled with the area of expertise.
- Small changes can be auto merged can happen wit

[2022-09-26 19:05] rootfs commented on #248
Missing kernel headers causes eBPF fail to resolve kernel structs. There is a good writing by [Pixie](https://blog.px.dev/ebpf-portability/). We should watch for these new solutions.

[2022-09-27 01:11] marceloamaral commented on #249
Maybe 3+ approvals is too much

I would suggest, the PR must have a `lgmt` label and 1 approval
Both the reviewers and maintainers can approve but only a maintainer can add the `lgmt` label

[2022-09-27 01:15] jichenjc commented on #246
I am guessing you are seeing similar issue to me https://github.com/sustainable-computing-io/kepler/issues/211#issuecomment-1253068685 , looks like the kind on a VM might need more work

[2022-09-27 01:17] rootfs commented on #246
Not sure how macOS handles kind. On my setup (KVM guest on RHEL), only two pods are reported
[code]

[2022-09-27 01:18] rootfs commented on #249
lgtm :D

[2022-09-27 01:22] jichenjc commented on #248
just curious and for learning purpose, is it a general question of ebpf so all ebpf related projects has such ?
or the ask is to avoid the panic (so we should do some kind of check ahead) ?

[2022-09-27 02:00] jichenjc commented on #246
On Ubuntu it's same (a Kind on KVM VM) , and the command="cinder-sch" is really weird as well (guess that's first pod it met)

[code]

[2022-09-27 10:29] Feelas commented on #126
Closing due to #128 being merged.

[2022-09-27 10:29] #126 closed

[2022-09-27 10:42] Feelas commented on #119
Closing since this is not up to date due to many changes in dashboard.

[2022-09-27 13:22] nikimanoledaki commented on #248
On the one side, there is the ask to avoid the panic in general, which could lead to the other ask, which is to be able to support headers that are a different version than what `uname -r` returns...

For example, in my setup with custom kernel `5.10.77`, I added headers for `5.11.0` with `apt install linux-headers-5.11.0`, which is something that should be supported as well.

See the following fr

[2022-09-27 13:32] rootfs commented on #248
eBPF is used to get certain stats from kernel for power modeling and inference. The roadmap is to use multiple models, depending on the environment and restriction. On setups that don't have kernel headers, there will be a fallback path to e.g. cgroup/kubelet stats. We can disable the panic once those fallback paths are in place (thanks to @sunya-ch)

[2022-09-27 13:39] SamYuan1990 commented on #182
do you know if we are able to make OpenShift running in github action(github hosted agent) ?

[2022-09-27 13:49] rootfs opened #252 "Attributing block I/O energy"
**Is your feature request related to a problem? Please describe.**
Currently the attribution to Pods is based the Pods CPU/memory activities. The processes in the Pods could have disk I/O activities that are handled by interrupt handlers, we should attribute energy consumed by the handlers properly to the Pods that initiate them.

**Describe the solution you'd like**
The I/O stats are collected by

[2022-09-27 13:50] SamYuan1990 commented on #249
hi @marceloamaral  and @rootfs
do you have any github action for sample, so far I found one as https://github.com/pascalgn/automerge-action
- MERGE_LABELS as `lgmt`
- MERGE_REQUIRED_APPROVALS to 1

Are there settings above good enough for us?
I suppose we are using account role control as the user in [list](https://github.com/sustainable-computing-io/kepler/blob/main/Contributors.md) able to get a

[2022-09-27 13:52] rootfs commented on #249
@sallyom has some ideas

[2022-09-27 13:59] SamYuan1990 opened #253 "CI commit message check"
**Is your feature request related to a problem? Please describe.**
Try to add commit message check for each pr.

**Describe the solution you'd like**
https://www.kubernetes.dev/docs/guide/pull-requests/#commit-message-guidelines

- Try to keep the subject line to 50 characters or less; do not exceed 72 characters
- Providing additional context if I am right means formatting in topic: something
- T

[2022-09-27 14:02] SamYuan1990 commented on #69
is this ticket out of date?

[2022-09-27 14:11] sallyom commented on #249
can opt-in to auto-merge and much more by plugging into github.com/openshift/release CI platform (doesn't have to be specific to openshift - can configure things like lgtm/approvals/etc and can set some checks as optional/non-blocking) I'm looking at adding a test to verify the manifests/openshift - that check would stay optional but can configure the others to block merges (`make format`, `make g

[2022-09-27 14:11] SamYuan1990 opened #254 "CI post action enhance"
**Is your feature request related to a problem? Please describe.**
- remove post integration test
- image build from base to kepler

**Describe the solution you'd like**
n/A

**Describe alternatives you've considered**
n/A

**Additional context**
n/A

[2022-09-27 14:14] SamYuan1990 commented on #254
@marceloamaral , could you please add some reason in comments for remove post integration test checking?

[2022-09-27 14:17] SamYuan1990 commented on #249
wait a min, we are using github action but not OpenShift CI, are we need to follow https://docs.ci.openshift.org/docs/how-tos/contributing-openshift-release/ ?

[2022-09-27 14:19] #69 closed

[2022-09-27 14:20] sallyom commented on #249
@SamYuan1990 above I shared volsync - that is a repo that is not part of the openshift org-  they use the openshift CI _in addition to_ GH actions. See this PR as an example: https://github.com/backube/volsync/pull/439

[2022-09-27 14:27] SamYuan1990 commented on #249
ok I see, so are we going to moving to/addition with OpenShift CI?
btw, if we addition with OpenShift CI will we have OpenShift cluster to deploy with?

[2022-09-27 14:35] nikimanoledaki commented on #248
Agreed! A note regarding the following, however:

If I understand correctly, in my setup kernel headers were installed but they were a different version to the kernel version, which is slightly different from the setup where no kernel headers were installed at all 🤔

[2022-09-27 15:17] rootfs commented on #248
@nikimanoledaki would you help the documentation with your findings and solutions? That'll bring this issue to a good conclusion

[2022-09-27 15:47] rootfs commented on #252
Per kernel source [here](https://github.com/torvalds/linux/blob/3d7cb6b0/block/blk-core.c#L1260), the block I/O worker threads name regex is `^[kworker/.*kblockd]$`, e.g. `[kworker/93:1H-kblockd]`

[2022-09-27 18:43] sallyom commented on #249
_sort of_
once the test is configured, if/when in a PR you comment something like `/test e2e-openshift`  that will trigger an OpenShift ephemeral cluster to be deployed, and in that cluster kepler will be deployed and verified (for example, could add a script to confirm all pods healthy, dashboard up, non-zero values, etc) - once that verification test is complete the cluster is torn down - so tha

[2022-09-28 00:22] rootfs opened #256 "Export Kernel Network TX/RX and energy stats"
**Is your feature request related to a problem? Please describe.**
Similar to #252, energy spent in network irq handling should be accounted and attributed.

**Describe the solution you'd like**
There is no dedicated block device worker threads. The network interrupts are handled in softirq context. It is likely a two-step solution.

- Step 1. Account network TX/RX per process/pod
- Step 2. Accoun

[2022-09-28 01:03] rootfs opened #258 "Selectively export metrics"
**Is your feature request related to a problem? Please describe.**
Currently all metrics are exported. This will create a long list of metrics when there are many pods.

**Describe the solution you'd like**
The exported metrics can be set during startup as well as runtime, potentially through a configmap

[2022-09-28 06:25] marceloamaral commented on #254
I'm not saying that post-integration testing isn't useful, there may be some use cases that will be needed

However, for simplicity's sake for now, I think that our integration test should be run before the merge

[2022-09-28 06:28] marceloamaral commented on #252
Thanks @rootfs for writing the summary of the idea here!

[2022-09-28 06:33] marceloamaral commented on #249
I am ok with all directions.

But why don't we start to the simple one and extend it to the more complex one later?

[2022-09-28 06:40] marceloamaral commented on #258
We have groups of metrics, so that we could enable and disable it via command line parameter

[2022-09-28 06:42] marceloamaral commented on #246
So, just to double check, you are running inside a VM right?

[2022-09-28 06:46] jichenjc commented on #246
yes, BM => VM => kind

[2022-09-28 10:06] jichenjc opened #259 "Is getActiveCPUs works on VM ?"
**Describe the bug**
A clear and concise description of what the bug is.

running on VM env (Ubuntu)

[getActiveCPUs](https://github.com/sustainable-computing-io/kepler/blob/main/pkg/collector/reader.go#L147)
`klog.V(5).Infof("---activecpu---%d----%s", activeCPUs, ct.CPUTime)`

I printed log like this  after the line and since we are in `attacher.EnableCPUFreq`
else logic, should this have some da

[2022-09-28 11:20] marceloamaral commented on #259
If the eBPF program is successfully running, the CPU time should be accounted...
Can you check if the eBPF is running?

[2022-09-28 12:27] SamYuan1990 commented on #254
I am going to create a pr for this and let's see.

[2022-09-28 13:07] rootfs opened #261 "Separating system processes from Pod energy metrics"
**Is your feature request related to a problem? Please describe.**
Currently for consistency, all the system processes are classified as system processes Pod and in system namespace.
This is a problem for end user and becomes unscalable when further separating kblockd and softirq from the system processes.

**Describe the solution you'd like**
The system processes, kblockd, ksoftirqd and any upcom

[2022-09-28 13:44] rootfs commented on #261
sounds good!

[2022-09-28 13:46] rootfs commented on #256
@sustainable-computing-io/kepler-core

[2022-09-28 13:46] rootfs commented on #252
https://github.com/orgs/sustainable-computing-io/teams/kepler-core

[2022-09-28 13:47] rootfs commented on #259
@sustainable-computing-io/kepler-core @sustainable-computing-io/kepler-deployment

[2022-09-28 13:55] #161 closed

[2022-09-28 13:58] rootfs commented on #249
FYI, i just created teams. CI can tag the teams to assign/review/merge issues and PR

[2022-09-28 14:53] Feelas opened #262 "Grafana dashboard datasource 'prometheus' not found"
**Describe the bug**
Creating Kepler dashboard using OpenShift scripts succeeds but using it fails since it cannot find 'prometheus' datasource. Manually changing datasource name from "prometheus" to "Prometheus" and then importing fixes the problem. This is probably after changes from #201. It would be good to have a working example, which doesn't require the user to modify the dashboard by hand

[2022-09-29 01:34] jichenjc opened #264 "no collection of new deployed pod on VM based env?"
**Describe the bug**
A clear and concise description of what the bug is.

I had following k8s , the nginx n1/n2 namespace pods are deployed after kepler daemonset start running

[code]

note n1 and n2 are nginx I want to do other test.. but I can't see nginx repoted at all

[code]

I even killed the pod and restart it

[code]

but I still get same result

I can see etcd

[code]

**To Reproduce**
S

[2022-09-29 01:53] rootfs commented on #264
@sunya-ch can you take a look? I think the stats are reset for some reason, it doesn't show all the time.

[2022-09-29 01:54] jichenjc opened #265 "podName without ns?"
**Describe the bug**
A clear and concise description of what the bug is.

we can have same name pod
[code]
but https://github.com/sustainable-computing-io/kepler/blob/main/pkg/collector/reader.go#L133
seems we only honor the podname , is this on purpose design?
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected beha

[2022-09-29 01:58] marceloamaral commented on #264
Cloud you please tell more details of the environment?
Are you using the kind cluster?
BM -> VM -> Kind?

[2022-09-29 02:01] jichenjc commented on #264
no, VM only , no kind ...

[code]

[2022-09-29 02:03] rootfs commented on #264
this happens to my setup too, baremetal. Even nginx finally showed up, the command was wrong
[code]

[2022-09-29 02:05] rootfs commented on #264
there could be two possible causes:
1) the pid/cgroup -> pod resolution is wrong (so the wrong conmon was picked up)
2) the stats were reset (the `pod_total_energy_millijoule` should stay on regardless of current energy)

[2022-09-29 02:16] rootfs commented on #265
nice catch! This needs another checking. In an [early implementation](https://github.com/sustainable-computing-io/kepler/blob/3887805f2a85848d4b75ece67e60ace1feab759c/pkg/collector/reader.go#L116-L120), the map is indexed by `podName-namespace`.

[2022-09-29 02:56] sunya-ch commented on #264
I think the podEnergy is reset as there is no context_switch of that pod detected by BPF here https://github.com/sustainable-computing-io/kepler/blob/fc425e939332b659a376c933160afe52d1fb03ad/pkg/collector/reader.go#L201-L205.

It is in the to-fix list that we should double-check whether the pod is deleted or just no activity.
For the command shown up, it is the latest command called by that pod wh

[2022-09-29 04:20] marceloamaral commented on #264
I had a similar issue because the pod information was being deleted and then I commented out the part that deletes the pod information. during my experiments... However, the memory usage may grow and never be freed even if the pod has been deleted....

So instead of removing pod information from `podEnergy` when there is no HC update, we could introduce a timeout
For example, if we don't see any u

[2022-09-29 16:35] rootfs commented on #265
@jichenjc you like to stand up a fix and test case?

[2022-09-29 16:40] rootfs commented on #264
@marceloamaral how about introduce a garbage collector to remove metrics from inactive pods when the metrics map size (to be configured) is too large?

[2022-09-30 00:57] jichenjc commented on #265
yes, I can give a try

[2022-09-30 02:54] marceloamaral commented on #265
Nice catch, we need to use maybe the pod ID instead in the pod name in the structure
Regarding the prometheus metric, it has the pod name and namespace labels

[2022-09-30 09:59] jichenjc commented on #265
I tried to add a PR and I think the best fit would be pod ID ,but looks like we are using [1] for containerID but I think it can't be used as we are looking for podID, do we have any reference that I can steadily get a pod ID? @rootfs @marceloamaral
or I can actually use `namespace/podname` so it will anyway help as well (and maybe better due to smaller footprint than a long pod ID ..?

[1] https:

[2022-09-30 12:21] rootfs commented on #265
@jichenjc `podName` is the map key, once the cGroupID/PID is resolve and `ppodName` is known, we don't need `containerID`.  If you use `namespace/podname`, that looks a good PodID. There is a length limit of namespace and pod name. In the very unfortunate case of long names, a SHA will be a good to go.

[2022-10-02 16:24] SamYuan1990 opened #274 "remove vendor folder and modules.txt, or latest remove github.com/onsi/ginkgo from it"
**Is your feature request related to a problem? Please describe.**
I would like to remove remove vendor folder and modules.txt, or latest remove github.com/onsi/ginkgo from it.

**Describe the solution you'd like**
You know, there no need to add github.com/onsi/ginkgo in vendor folder for fix it. And why we need vendor folder?

**Describe alternatives you've considered**
n/A

**Additional context*

[2022-10-02 16:26] SamYuan1990 commented on #274
btw, we should update ginkgo to v2.

[2022-10-03 00:37] sunya-ch commented on #274
For the reason to keep the vendor folder, @rootfs already mentioned about it here.

https://github.com/sustainable-computing-io/kepler/pull/134#issuecomment-1238050399

As long as `make test` is working, I think any case would be fine.
The point is to make the ginkgo binary available for running the test.

[2022-10-03 01:54] marceloamaral commented on #274
Vendor folder has only 28M, I think it is ok to keep it

[2022-10-03 02:33] marceloamaral commented on #265
We could add the podID in the container info structure:
https://github.com/sustainable-computing-io/kepler/blob/main/pkg/podlister/resolve_container.go#L141
And them, we can have a function to get the podID

[2022-10-03 03:54] SamYuan1990 commented on #274
@marceloamaral , @sunya-ch , @rootfs I can understand that we hope to keep some files

but, for
`github.com/onsi/ginkgo` and `github.com/onsi/gomega`
1. they are just use as test framework.
2. so far ginkgo is upgrade to v2.
3. we missing `github.com/onsi/gomega/gexec` at https://github.com/sustainable-computing-io/kepler/blob/main/vendor/modules.txt#L85-L96, as it doesn't have all packages.

Henc

[2022-10-03 06:32] marceloamaral commented on #274
I thought that the following commands would fix those problems....
[code]

[2022-10-03 12:18] rootfs commented on #274
run it on the current source tree, it is clean after tidy
[code]

[2022-10-03 13:33] SamYuan1990 opened #276 "enhance reader.go logic with *enableGPU parameter"
so far if there no gpu device, the code still go through with gpu logic for example: `podGPUDelta`
as we have `*enableGPU`, if `GPU` is disabled, can we skip gpu related logic?

_Originally posted by @SamYuan1990 in https://github.com/sustainable-computing-io/kepler/discussions/273#discussioncomment-3787199_

[2022-10-03 13:35] SamYuan1990 commented on #274
k, close this one for now.
will use command below instead.
[code]

[2022-10-04 01:56] marceloamaral commented on #276
I think the logic should try to discover gpus.
So, if there is no gpus in the system we disable the calculation.

Will you submit a PR for this?

[2022-10-04 06:04] SamYuan1990 commented on #276
not for now @marceloamaral , I am no local holiday...
if you want it, you can pick it up for now.

[2022-10-04 08:58] brunobat commented on #97
I also believe that outputting data using open telemetry with the right attribute semantics could be used to later correlate data from application data.
Moreover, Using OpenTelemetry across the board in the project would allow not only OTLP standard exporters but also Prometheus and many others.

[2022-10-04 11:57] marceloamaral commented on #97
Typically we use tracing the measure the latency across function calls.
So, I am not sure when/how/why we will use data from trace....

Could you please explain better why you need tracing?

[2022-10-04 12:03] brunobat commented on #97
When I mention OpenTelemetry(OTel) it's not just about tracing. Metrics themselves can be produced in the OTel format. This seems to me much more flexible than outputting metrics as timeseries in the Prometheus format. The main advantage is to easily integrate and correlate with App generated metrics.
This can be used to identify inside the apps what might be energy consumption hotspots.

[2022-10-04 12:08] rootfs commented on #276
@SamYuan1990 enjoy the holiday!

[2022-10-04 13:02] jichenjc commented on #265
@marceloamaral you mean use the `i` https://github.com/sustainable-computing-io/kepler/blob/main/pkg/podlister/resolve_container.go#L137 to be pod id ?

I actually checked
https://github.com/sustainable-computing-io/kepler/blob/6d334c689d13cdefdee2b443e07c4a39ba8b42b8/vendor/k8s.io/api/core/v1/types.go#L3962

both PodSpec and PodStatus seems doesn't have `id` field can be used ..

so I will follow

[2022-10-04 18:57] nikimanoledaki opened #277 "Add option to set CPU type"
**Is your feature request related to a problem? Please describe.**
While running Kepler on a VM, the CPU type is not found.
[code]

**Describe the solution you'd like**
As a VM user, given that I know my host CPU, I would like the ability to set the CPU type manually.

**Describe alternatives you've considered**
A potential fallback/alternative, proposed by @rootfs, would be to hardcode 'unknown C

[2022-10-04 18:59] rootfs commented on #277
Thank you for the suggestion. We can add an env var to allow end user to set the default cpu type. Note, this works on a homogeneous environment.

[2022-10-04 20:38] rootfs commented on #262
@sallyom this is probably the issue seen on your setup

[2022-10-04 21:24] #262 closed

[2022-10-05 01:27] marceloamaral commented on #265
@jichenjc Actually you can have the pod ID from the metadata as follow:
[code]

I think it is better to use a definitive solution that will not have any problem in the future....

[2022-10-05 01:42] marceloamaral commented on #97
It's actually on our roadmap to support export metrics in different formats, not just Prometheus...

We could discuss in more detail, it would be nice if you could create a google doc detailing the ideas and then everyone can give feedback

[2022-10-05 02:08] jichenjc commented on #265
ok,then this comes to uuid of the pod :) , will do a quick test, thank ~

[2022-10-05 12:59] jeremycohn commented on #262
Can confirm this fixed issue in OpenShift.

[2022-10-05 14:38] sallyom commented on #147
this issue is resolved with #150 AFAICT

[2022-10-05 14:38] #147 closed

[2022-10-06 11:18] #277 closed

[2022-10-07 03:11] SamYuan1990 opened #282 "make bcc logic part more robust"
we have an issue as we installed bcc at container, but if host vm/instance don't bcc lib installed, and bcc been used as volume mount of pod, the pod will exited as bcc not found.

        @rootfs , @marceloamaral , take a look at https://github.com/sustainable-computing-io/kepler/actions/runs/3201921603/jobs/5230372207#step:8:13 pls

_Originally posted by @SamYuan1990 in https://github.com/sustai

[2022-10-07 03:12] SamYuan1990 commented on #282
[code]

[2022-10-07 12:34] rootfs commented on #282
`Module kheaders not found in directory /lib/modules/5.15.0-1020-azure`
which kernel did you use? @SamYuan1990

[2022-10-07 12:34] marceloamaral opened #286 "Prometheus metrics are not conforming with the Prometheus metrics guideline"
**Is your feature request related to a problem? Please describe.**
Currently the prometheus metrics are not conforming with the [Prometheus metrics guideline](https://prometheus.io/docs/practices/naming/), and more details [here](https://prometheus.io/docs/instrumenting/writing_exporters/).

The key rules that we are violating are:
- should use base units (e.g. seconds, bytes, meters - not millise

[2022-10-07 13:21] SamYuan1990 commented on #282
not for now, I didn't take further investigate.

[2022-10-08 05:54] marceloamaral commented on #282
@rootfs this is from the Github VM, which seems to be from azure....

[2022-10-08 05:59] marceloamaral commented on #276
The PR #287 fix this

[2022-10-08 06:49] marceloamaral commented on #286
Also, note that the goal is to update the metrics again later, we should export container energy consumption and not pod. Like `container_cpu_usage_seconds_total`, but we will have `kepler_container_package_joules_total`...
Did not use the container name right now because it will require much more changes in the code...

[2022-10-08 09:00] jichenjc commented on #264
I assume this has been tested already with the PR ?if so we can close this

[2022-10-08 09:04] marceloamaral commented on #264
@jichenjc can you test if the issue was solved?

[2022-10-08 09:51] jichenjc commented on #264
ok, then it's not newly created pod, it's inactive pod ..
anyway ,seems deploy a new deployment with nginx pods I can see them from output,so close this

[2022-10-08 09:51] #264 closed

[2022-10-08 13:21] marceloamaral commented on #286
So we will have the energy consumption per container as well as. In the figure below the labels are `{{pod_name}} - {{container_name}} - {{resource}}`
<img width="1501" alt="image" src="https://user-images.githubusercontent.com/5133121/194709594-585af9b8-552c-40b7-9ce8-1fd788639c8e.png">

[2022-10-10 00:16] jichenjc commented on #261
I saw there are multiple PR/issues to separate the kblockd etc, so any todo for this issue (only) ?

[2022-10-10 00:20] jichenjc commented on #258
we will switch from pod to container mode soon, I believe this issue will not be impacted by that plan/PR ?
@marceloamaral

[2022-10-10 01:06] jichenjc opened #289 "is CPU instr etc metrics available on VM?"
**Describe the bug**
A clear and concise description of what the bug is.

might be related to https://github.com/sustainable-computing-io/kepler/issues/259

in VM (VM running on BM, no kind)

All logs indicate no cpu actions
[code]

1) why all instr are 0 (seems from cgroup) ,is it expected?
2) and curious on why we only report pod_cpu_instructions but no pod_cpu_cycles etc into metrics?
[code]

*

[2022-10-10 02:00] marceloamaral commented on #258
I don't think we're going to disable power consumption metrics, but there are some extra metrics.

For example, we export hardware counters (HC) of containers. Although we have the logic to disable it if HC is not available, we could also make it optional and disable HC even when it is available.

Also, I think there is a plan to expose some cgroup metrics that we're using, and it will be nice to

[2022-10-11 00:27] jichenjc commented on #258
ok, thanks, I think at least the counters is eligible for that, thanks for sharing this

[2022-10-11 02:21] marceloamaral commented on #261
This is a WIP and needs more design thinking

[2022-10-11 12:11] marceloamaral commented on #259
Can you give more lines of the log?
It seems that ebpf is not running

[2022-10-11 17:56] sallyom opened #293 "since dropping Fatalf to Infof if BPF not installed on host, make the bcc fileNotFound log/error message friendlier"
Deploying kepler in Kube/VMs with bcc libs not found on host instance, now that the panic is handled and kepler is running, the log message is misleading in that it seems kepler is unhealthy - in fact kepler is healthy just cannot collect performance data (I think, correct if wrong!):

[code]
instead, info msg something like `BPF is not installed on host system, kepler is running but cannot collec

[2022-10-11 17:56] sallyom commented on #293
related to https://github.com/sustainable-computing-io/kepler/issues/282

[2022-10-11 18:04] sallyom commented on #293
Should kepler dashboard show all 0 values in this case? If not, I'm mixing up another (unknown) issue with this one, and apologies. In my env I have healthy kepler/grafana deployment but all 0 values.

[2022-10-12 05:03] marceloamaral commented on #293
Shouldn't show all 0....
Which metrics are you seen?
Is it bare-metal or VM?
If it is bare-metal, are you sure that RAPL is accessible?
In the logs, is bcc running?

[2022-10-12 08:56] ruomengh opened #295 "Energy consumption of CPU is 0"
**Describe the bug**
Checking "Pod Current Energy Consumption" on Grafana dashboard, CPU energy consumption of each pod is 0. Checking Prometheus, "pod_curr_energy_in_core_millijoule" of all pods are 0. "Total" and "DRAM" have data but "CPU" is 0.

 The issue exists on both RHEL8.6 and Ubuntu 22.04 host.

[2022-10-12 09:54] Feelas commented on #295
@rootfs I have also seen this happening in recent commits, can this be related to #120, #150 and #156? I have lost track of changes made in the core energy department, but there has been some movement in this matter, no?

@ruomengh what CPU are you using? Maybe there is different handling of RAPL on various CPUs if some are not seeing this.

[2022-10-12 16:51] #265 closed

[2022-10-13 03:13] ruomengh commented on #295
There are several nodes using different Intel CPUs in my cluster. All of them have the same issue after running for a while. When a new node just joined the cluster, it can show CPU energy.

[2022-10-13 07:38] Feelas commented on #295
I have seen one similar bug from a few months before, #96. @rootfs, how can we check if this is an instance of that?

[2022-10-13 08:08] marceloamaral commented on #295
Are you running Kepler in a Bare-metal node?

There some architecture that does not report the CPU core power...
For example the node that I have, I can only see the package power (i.e., CPU socket)

Can you run the following application in your node?
https://github.com/deater/uarch-configure/tree/master/rapl-read

[2022-10-13 12:37] rootfs opened #298 "build release version container images and update deployment manifests"
**Is your feature request related to a problem? Please describe.**
Current the kepler container image is built on main branch and the tag is latest. The tag is used in kepler deployment manifests

**Describe the solution you'd like**
In the release branch (e.g. branch name is `release-x.x`), the CI should build the image and use the release tag, update the manifests once the image is pushed.

**De

[2022-10-13 13:54] rootfs commented on #286
@marceloamaral Let's keep the conformance and usability goals in sync. The new metrics are good for query and dashboarding. The `pod_cpu_cpu_time_us`, `node_package_energy_millijoule`, and `node_energy_stat` are used by the model server and autoscalers to build models. In that use case, query to customized metric gets all the related stats.

How about we distinguish these use cases and expose the

[2022-10-13 13:54] rootfs commented on #286
@sustainable-computing-io/reviewer

[2022-10-13 14:06] rootfs commented on #289
@jichenjc `pod_cpu_instructions` is used for VPA dashboard [here](https://github.com/sustainable-computing-io/clever/blob/main/dashboards/clever-dashboard-w-IPS.json#L329)

[2022-10-13 15:29] williamcaban commented on #286
With the alignment to Prometheus metrics guidelines I would add the ask with the refactoring to include with all metrics the label `pod_node=""` as the energy consumption of a workload is impacted by the particularities of the node where it is running (e.g. node load, temperature, CPU family or version, and others). Such label will also help facilitating better queries of a particular metric for a

[2022-10-13 17:01] rootfs commented on #298
we can use bot to update the manifest once a release image is built

[2022-10-13 17:21] rootfs commented on #295
@ruomengh if `pod_curr_energy_in_core_millijoule` has values and becomes 0 after a while, that could have a few possible reasons:
- do you happen to see any value in `pod_curr_energy_in_pkg_millijoule` metrics?
- the pod is not actively using cpu, so eBPF program cannot detect it. The metrics then turns to 0. To see if this is the case, can you find and kill the process (not delete the pod) in the

[2022-10-14 00:13] jichenjc commented on #298
I think this can also be integrated with github actions @SamYuan1990  @rootfs
e.g every time a new release come out we cut the branch and let github actions tag and build image then upload

this might be FYI as we did it every k8s release
https://github.com/kubernetes/cloud-provider-openstack/blob/master/release-procedure.md

[2022-10-14 00:20] jichenjc commented on #289
The bpf program is running. We had some previous PRs that showed that a VM did not have the kernel libs, but to collect hc, we need to make sure that the bpf program can run smoothly...

ok, this seems to be a follow up action for VM
as lack of BM env, I have to cont with VM for a while :(
but good to know we have a gap here

[2022-10-14 00:34] jichenjc commented on #259
I saw some logs like
[code]

I see error printed in my log
https://github.com/sustainable-computing-io/kepler/blob/9762279ba65fdddc81d5ec60c8b8adb9dc05ded7/pkg/attacher/bcc_attacher.go#L117
but I didn't se error printed
https://github.com/sustainable-computing-io/kepler/blob/9762279ba65fdddc81d5ec60c8b8adb9dc05ded7/pkg/attacher/bcc_attacher.go#L122

so I Think eBPF runs correctly as the module loa

[2022-10-14 00:37] jichenjc commented on #258
I think we are not there yet, do we?

[2022-10-14 00:56] marceloamaral commented on #258
Not now....

[2022-10-14 01:04] jichenjc commented on #293
I1011 15:58:35.677590       1 bcc_attacher.go:92] failed to attach perf event cache_miss: failed to open bpf perf event: no such file or directory
perf_event_open: No such file or directory

is it because this is hardware counter so it's not running well on VM but it doesn't impact other ?

I saw those lines in my env but I think with DNUM_CPUS the eBPF still works partly?

[code]

[2022-10-14 01:12] marceloamaral commented on #259
Right, the logs aren't saying much....We need to improve it.
We should have a log saying in the end if the bpf is running or not....

But regarding the first failure.
Actually the `-DCPU_FREQ` parameter is related to CPU time, which is used to calculate the frequency later...

So the first attempt to attach the bpf program is with the support to collect cpu time....
If it fails for some reason, it

[2022-10-14 01:29] jichenjc opened #299 "Add flag to enable VM deployment during CI"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

https://github.com/sustainable-computing-io/kepler/pull/294#issuecomment-1278354596

I am very curious why the current deployment can pass in CI ,though @marceloamaral @rootfs

**Describe the solution you'd like**
A clear and concise descr

[2022-10-14 01:31] marceloamaral commented on #293
First of all, we definitely need to improve the log messages....

So this is the flow:
Kepler tries to attach the bpf program by collecting both the hardware counters and CPU time.
If for some reason there is a failure to collect the CPU time (of course we need to investigate it), kepler attaches a program that collects only the hardware counters....

However, you have logs saying you couldn't acc

[2022-10-14 01:52] marceloamaral commented on #299
The PR #294 does not deploy Kepler to nodes that have the label:
`feature.node.kubernetes.io/cpu-cpuid.HYPERVISOR`

So, as I mentioned, this is very specific to someone's infrastructure....
This means that other infrastructures, even if they are running on top of VMs, may not have this label...

[2022-10-14 02:16] marceloamaral commented on #286
Thanks @rootfs for the review!

I think the model server should be updated to collect metrics using different prometheus queries.
For example, compound metrics have hardware counter and cgroup metrics. And all these metrics will be accessible through their own Prometheus metric. In the end this will be more transparent and easier to understand the model server....
Then we can deprecated these metr

[2022-10-14 02:18] marceloamaral commented on #286
Thank you @williamcaban

I think that makes a lot of sense!
Most metrics that export the node have `instance` and/or `node` labels.
Is it ok if we use `instance`?

[2022-10-14 02:23] marceloamaral commented on #286
Btw, I just saw that the [clever](https://github.com/sustainable-computing-io/clever) dashboard use [pod_cpu_instructions](https://github.com/sustainable-computing-io/clever/blob/main/dashboards/clever-dashboard-w-IPS.json#L329).

Since we are going to export `container_cpu_instructions` we will need to update the clever dashboard as well as.
Because this is very simple to updater, I don't think w

[2022-10-14 07:27] Feelas commented on #295
Both through metrics and directly in Kepler verbose log, I can see that the package and DRAM energies are reported as nonzero, while eCore stays 0. Sample log parts:
[code]
[code]

Both node_curr_energy_in_pkg_joule and node_energy_stat seem to work properly.

[2022-10-14 07:39] #125 closed

[2022-10-14 13:32] rootfs commented on #293
On VMs, the perf counters are not available, so the warning are a result of this environment. It would help if we add that info to the log.

[2022-10-14 13:34] rootfs commented on #299
cc @ruomengh

[2022-10-14 13:45] rootfs commented on #286
But note that, the classic metrics may have some difference in exported interval because they are not synced with the kepler collection... This is something we need to investigate....

On deployment without other exporters (due to resource reason), the cgroup or node metrics will be missing.

I think we all agree the options to turn on/off metrics are important. It will be the way to manage confor

[2022-10-16 04:05] jichenjc commented on #299
Added a couple of comments in #294
in summary, I think we should agree there before we do any actions here

[2022-10-16 13:15] rootfs opened #301 "aggregate energy consumption from Pod level to higher level"
**Is your feature request related to a problem? Please describe.**
Pod level energy reporting is useful on a per node basis. At the cluster level, high level aggregation is more useful.

**Describe the solution you'd like**
When calling [`ListPods`](https://github.com/sustainable-computing-io/kepler/blob/main/pkg/podlister/resolve_container.go#L131),  `OwnerReferences` in the Pod metadata should b

[2022-10-17 00:26] ruomengh commented on #299
Actually this depends on NFD (node feature discovery) and this NFD works for x86 architecture only. Please refer to https://kubernetes-sigs.github.io/node-feature-discovery/v0.11/get-started/features.html#arm-cpuid-flags-partial-list
This could affect environments which don't have NFD deployed or which are not x86.

[2022-10-17 00:28] jichenjc commented on #299
yes, I found that and commented in #294 with exactly same thing you described

I am not sure whether we need introduce such dependency and deployment for such minor feature
happy to get folks to comment...

[2022-10-17 00:50] jichenjc commented on #286
forgive my misunderstanding, is it 2000 instead of 20000?

[2022-10-17 00:54] jichenjc commented on #301
maybe `per application (OCP concept) or deployment level` as user might pay attention to the workload
and daemonset consumption per cluster is a good measure to side effect from power perspective?

[2022-10-17 01:51] ruomengh commented on #295
node_curr_energy_in_pkg_joule{container="kepler-exporter",` endpoint="http", exported_instance="css-dev-ken", instance="css-dev-ken", job="kepler-exporter", namespace="kepler", pod="kepler-exporter-8swnk", service="kepler-exporter"}

pod_curr_energy_in_pkg_millijoule{command="adapter", container="kepler-exporter", endpoint="http", instance="css-dev-ken", job="kepler-exporter", namespace="kepler",

[2022-10-17 02:40] ruomengh commented on #295
@rootfs
1. `pod_curr_energy_in_pkg_millijoule` has values for all pods
2. `node_curr_energy_in_pkg_joule` is not 0, but `node_energy_stat` is 0

[2022-10-17 03:38] marceloamaral commented on #301
This is very useful, specially to report `Job` energy consumption

[2022-10-17 04:07] marceloamaral commented on #295
This is good, it means that the pod energy consumption is being calculated

This metric `node_curr_energy_in_pkg_joule` is used to calculate the `pod_curr_energy_in_pkg_millijoule`

----
RAPL can expose the power consumption of CORE, UNCORE, PKG, DRAM or PLATFORM
However, not all systems expose all these metrics.
And most likely your system only has CORE and DRAM!
So that's why you can't see `pod_

[2022-10-17 05:41] ruomengh commented on #295
Yes, RAPL package measures the energy consumption of the entire socket. It includes the consumption of all the cores, integrated graphics and also the uncore components. If CPU is the only thing of concern for Kepler for now, it makes sense to display core other than pkg. No matter cpu or pkg is exposed to users, cpu = 0 looks like a bug to me.
Besides, the issue doesn't exist on all nodes. I have

[2022-10-17 07:41] marceloamaral commented on #295
Right, we cannot use this as the CORE energy...

We could disable the core energy if it is not possible to export....but missing metrics will also looks like a bug....
Anyway, I think that as far as it will be well documented, this should not be a big concern....

[2022-10-17 13:40] rootfs commented on #301
For Deployment Pods, there will be steps I think:
- at kubelet level, we can get the Pod owner. This works for certain API objects such as DaemonSet/ReplicaSet, not to Deployment,etc.  This query should be isolated to individual nodes, will not stress the API server.
- If we want to go the eventual owner of the ReplicaSet, we need to query API server and go through the ReplicaSet's OwnerReference

[2022-10-17 13:45] rootfs commented on #295
@marceloamaral good analysis!

@ruomengh would you like to post a documentation PR on this issue? Thanks!

[2022-10-17 15:13] sunya-ch opened #304 "5s is not enough for e2e test on Unit test Mac"
**Describe the bug**
Regarding this PR https://github.com/sustainable-computing-io/kepler/pull/225, the Unit test Mac keeps failing on e2e test (while the other unit tests were fine) when fixing first waiting time to 5s.
https://github.com/sustainable-computing-io/kepler/actions/runs/3262694289/jobs/5360198723

**To Reproduce**

Not trivial but it happens only on github actions when I add some ini

[2022-10-17 16:37] williamcaban opened #305 "Make `pod_total_*` metrics persistent/survive a Kepler restart"
**A clear and concise description of what the problem is.**

The `pod_total_*` metrics represent the total accumulated over all sample since Kepler started monitoring the particular pod. When restarting the Kepler pods this value goes back to zero.

**Describe the solution you'd like**
Metrics for `pod_total_*` should persist/survive a reboot of the Kepler Pod.

**Describe alternatives you've cons

[2022-10-17 17:07] rootfs commented on #305
I would think this requires at three changes:
- A CLI flag to load and persist metrics
- Functions that allow Kepler to load the last metrics upon start and persist the stats before exit
- A persistent volume for Kepler

[2022-10-18 01:02] jichenjc commented on #305
maybe need a way to clean up those metrics as well ? as the metrics might be really big ..
also ,seems it's either true/false means we should collect `all` pods metrics which might be inefficient
so design might think about how to just focus on individual pod though it can be long term thing

[2022-10-18 01:18] jichenjc commented on #301
If we want to go the eventual owner of the ReplicaSet, we need to query API server and go through the ReplicaSet's OwnerReference to find the Deployment info. This query goes to the API server but since at the ReplicaSet level, the traffic is less frequent.

ok, this seems reasonable, maybe we can go from Daemonset first as it should be simpler

[2022-10-18 01:47] rootfs commented on #301
@jichenjc sounds good, PR welcome

[2022-10-18 01:52] marceloamaral commented on #301
Performing get operations for the API server can be expensive on a large scale....

How about creating a watcher with the node label as an event filter....
This should have very low overhead....

So we do the top-down approach instead of the bottom-up approach.

----
I like that this direction with watcher as this will also later support the challenge of identifying if a resource has been deleted

[2022-10-18 02:12] marceloamaral commented on #304
As we discussed before, we don't need the string to say kepler failed, but to say it has started...
And then the test will try the health check to see if the kepler is still alive...
So, what we want then is a log that prints after the server is started

We can fix that in another PR....

[2022-10-18 02:16] marceloamaral commented on #305
This is a good topic!

Prometheus and Grafana have the logic to enable persistent storage....
So we should also make this configurable...

The challenge here is how do we save data to persistent storage?
Maybe we need a database?

[2022-10-18 02:32] sunya-ch commented on #304
If we use eventually without reporting when the kepler failed and exits, it can wait forever.

[2022-10-18 02:41] marceloamaral commented on #304
This should be fine, 30s is a very short timeout interval
Making the logic more transparent is better for this case

[2022-10-18 02:58] marceloamaral commented on #304
But we can check both, if it failed or succeeded

[2022-10-18 04:53] marceloamaral commented on #304
I created the PR #307 to fix this

[2022-10-18 04:56] marceloamaral opened #308 "Kepler is very slow to start"
**Describe the bug**
Before the PR #225, Kepler was taking 1.18ms to start.
But now, it is taking 40.17s to start

Although It might be related to the model server, the default deployment should have the model server disabled...

**To Reproduce**
Steps to reproduce the behavior:
The PR #307 introduce a log with the start time elapsed time.

**Expected behavior**
Kepler should start faster, special

[2022-10-18 04:56] marceloamaral commented on #308
/cc @sunya-ch

[2022-10-18 05:14] sunya-ch commented on #308
The current implementation there is no flag to omit getting initial weight by connecting model-server or loading model weight. We can just add that flag in the config and use it as a condition to skip this below function.  https://github.com/sustainable-computing-io/kepler/blob/605dc9cf79d1e7e600ef6e0a468d964b73be6a72/pkg/collector/metrics.go#L108

[2022-10-18 13:50] rootfs commented on #301
@marceloamaral this is a good idea!

Along the scalability line, having a node watcher on each node requires additional resources and privilege. I am thinking creating yet another exporter (optionally running as yet another deployment) using your pod watcher idea and export pod and owner metrics. So the energy metrics can be aggregated at the query time. Would that work?

[2022-10-18 13:51] rootfs commented on #305
@marceloamaral a plain json on a persistent volume?

[2022-10-18 23:50] rootfs opened #310 "Improve shared memory GPU power estimate using perf counters"
**Is your feature request related to a problem? Please describe.**
Current GPU power estimate is based on memory footprint. This model doesn't account for factors such as GPU instructions, temperature, or frequency. We need better models to estimate per Pod GPU power when the GPU is shared among multiple Pods.

**Describe the solution you'd like**
As studied in [1] with (old generation of) NVIDIA

[2022-10-18 23:50] rootfs commented on #310
@sustainable-computing-io/maintainer

[2022-10-19 04:38] marceloamaral commented on #310
The nvidia library shows the memory usage and gpu utilization regarding the compute part....
I am planning to update that, will submit a PR soon!

[2022-10-19 04:52] marceloamaral commented on #305
Right, so we could keep it on memory and dump to file each X minutes....

[2022-10-19 05:08] marceloamaral commented on #301
Right!
I think the question is: how much resource?
A part of the API server access permission, what other privilege?

Having a watcher on each node will give some other advantages, like reducing the kubelet overhead and ensuring consistency in our data by always removing the pods that were deleted.

I agree that scalability is something we need to understand very well!
Let's try to investigate the

[2022-10-19 05:24] marceloamaral commented on #301
I'll ask some K8s API server scalability experts about this!

[2022-10-19 12:57] SamYuan1990 commented on #192
@rootfs ,is this issue reproduced after we fixed panic issue?

[2022-10-19 13:08] rootfs commented on #192
@SamYuan1990 we are not seeing it recently.

[2022-10-19 13:08] #192 closed

[2022-10-19 14:19] rootfs commented on #310
@marceloamaral I think current model works for time-sharing case (e.g. on GKE), in the memory-sharing (e.g. AliCloud) case, more robust model is needed.

[2022-10-19 19:45] nikimanoledaki opened #312 "Ephemeral Pod is not always found by Kepler"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
I used ARC to create a self-hosted runner for GitHub Actions. It runs for 10-15s and then self-destructs. Follow [these steps](https://gist.github.com/nikimanoledaki/545b215c229ebe4ed6ad1d8c189ecbb9) to re-create this.

Querying Kepler for this Pod does not return any data. Kepler sometimes finds the Pod and

[2022-10-20 02:20] marceloamaral commented on #312
Since you are using GitHub Actions, the environment is probably a VM....
But, can you check the logs to see if the BPF module is running?

[2022-10-20 06:33] jichenjc commented on #312
I reported https://github.com/sustainable-computing-io/kepler/issues/264 before
not sure we fixed all those or still some occurance might lead to this issue?

[2022-10-20 06:43] jichenjc commented on #308
I tried to submit a PR but comment ths line but got following (can check it and update somewhere) ,so what's the impact of remove such function?
e.g estimate function not work at all?

[code]

[2022-10-20 06:45] nikimanoledaki commented on #312
Thanks both, I am using self hosted runners with ARC, where the runners run as Pods in the cluster so they are not VMs in this case. I included a link for how I set them up in case you would like to try the same setup :) When the action is triggered, the tests run for approx 10-15s, so they go very quickly and perhaps that is why Kepler does not detect and register them.

[2022-10-20 06:53] nikimanoledaki commented on #312
Sorry, just realised I did not add a link to the setup, here it is: https://gist.github.com/nikimanoledaki/545b215c229ebe4ed6ad1d8c189ecbb9

[2022-10-20 07:12] marceloamaral commented on #312
But how long does the pod stay alive?
Kepler collects metrics every 3s, so in theory if pods stay at 10s we should see them

[2022-10-20 07:20] jichenjc commented on #305
so something like following:
mount a volume (eph or nfs etc) at start of kepler to a desired place
every 3 sec update the pod_total_x then write to the file (should be not that heavy operation?)
load the file during startup if exist and init the pod_total_x with the file?

[2022-10-20 08:38] nikimanoledaki commented on #312
Given that each self-destructing Pod is created as soon as the previous self-destructing Pod terminates, and given that I start the test as soon the previous test ends, each Pod should run only for the duration of the test, so 10-15s.

[2022-10-20 08:45] sunya-ch commented on #308
The impact is that there will be no initial model server to be downloaded and no estimate model will be applied.
If no both node/RAPL power measured, it could cause that error.
I will push another PR to fix that case by at least returns zeros.

[2022-10-20 09:03] sunya-ch commented on #308
Yes. I should not affect the main metric collect function.

[2022-10-20 12:15] Feelas commented on #305
it might have sense to fetch the last "total" metric from of a suitable node (if present) directly from Prometheus when starting kepler's pod, but as mentioned - the numbers would get high very fast and honestly is there even a reason to export "total" metrics?

[2022-10-20 13:44] marceloamaral commented on #305
In fact, we might not need the persistent volume for that!

Prometheus does a very good job of handling cases where a counter has been reset:
[https://prometheus.io/docs/prometheus/latest/querying/functions/#rate](https://prometheus.io/docs/prometheus/latest/querying/functions/#rate)

So if Kepler restarts (which should be very rare) it shouldn't be a big problem from Prometheus' point of view.
Un

[2022-10-21 01:18] rootfs opened #317 "time to upgrade to latest bcc-devel pkg?"
**Is your feature request related to a problem? Please describe.**
Current bcc-devel pkg used by Kepler is [v0.19](https://github.com/sustainable-computing-io/kepler/blob/main/build/Dockerfile.base#L7).

There are [quite changes](https://github.com/iovisor/bcc/compare/v0.24.0..v0.19.0?diff=unified) in latest iovisor bcc since v0.19.

Is it time to upgrade to [latest](http://mirror.centos.org/cento

[2022-10-21 01:19] rootfs commented on #312
Just a thought, would upgrading bcc library fix this issue? #317

[2022-10-21 01:22] jichenjc commented on #317
maybe you cut a release like 0.1 or 0.01 of kepler with current bcc then
continue to update main with latest bcc so folks won't be affected if they need older one somehow ?

[2022-10-21 01:27] marceloamaral commented on #317
Is there any kernel requirement to upgrade the bcc?
If not, this should be fine!

[2022-10-21 01:28] rootfs commented on #317
@jichenjc there is a `release-0.3` branch.
@marceloamaral newer bcc supports newer kernels per release page

[2022-10-21 01:29] rootfs commented on #317
Here is the bcc release info https://github.com/iovisor/bcc/releases

[2022-10-21 01:59] marceloamaral commented on #317
@rootfs with a quick look to the releases minutes I did not see any possible conflict...
We can try, I should be fine

[2022-10-21 02:00] marceloamaral commented on #308
Closing because PR #316

[2022-10-21 02:00] #308 closed

[2022-10-21 02:53] marceloamaral opened #318 "Cannot deploy Kepler with make cluster-sync"
**Describe the bug**
After merging PR #311 the kepler deployment is not working anymore

[code]

**To Reproduce**
Steps to reproduce the behavior:
` make cluster-sync`

[2022-10-21 02:55] jichenjc commented on #318
yes, I found this , working on this now ,sorry for inconvenience

[2022-10-21 03:01] marceloamaral commented on #318
Thanks @jichenjc for the quick reply...

Don't worry, but I am wondering why the tests did not get this....

[2022-10-21 03:02] jichenjc commented on #318
let me fix the issue first then find why test not find it

[2022-10-21 03:10] marceloamaral commented on #318
@jichenjc the problem is the `kubectl` version: [here](https://stackoverflow.com/questions/67071962/kubectl-apply-k-throws-error-rawresources-failed-to-read-resources-load-from ). That's why we didn't see this in the CI...

After updating my `kubectl`, the deployment process is working now...

Unfortunately I don't know which version I had before... but we should document this dependency somewhere

[2022-10-21 03:12] jichenjc commented on #318
Thanks for sharing this, I found something still need improve, will submit a PR soon

[2022-10-21 03:17] marceloamaral commented on #318
But the `make cluster-sync` is still not working....

For the CI, I upload the new built image to the kind cluster...
In order to use this image, we need to change the manifest to use the new image....[here](https://github.com/sustainable-computing-io/kepler/blob/main/hack/build-manifest.sh#L43)

But the image name is not being updated now...

[2022-10-21 03:18] jichenjc commented on #318
yes, I found that bug, working on that now .. will submit a PR soon

[2022-10-21 03:19] jichenjc commented on #318
looks like the deployment of make cluster-sync is different to manifest.. need update them as well

[2022-10-21 03:24] marceloamaral commented on #318
Here is how to fix it:
[code]

I updated for Kubernetes, but you need to also update it for openshift

[2022-10-21 03:25] marceloamaral commented on #318
You just need to update the `hack/build-manifest.sh`

[2022-10-21 03:33] jichenjc commented on #318
https://github.com/sustainable-computing-io/kepler/pull/319/ is proposed for this , thanks for report and hope that works

[2022-10-21 03:36] marceloamaral commented on #318
Thanks!

[2022-10-21 07:20] marceloamaral opened #320 "Refactor and rearrange the packages and some names"
**Is your feature request related to a problem? Please describe.**

Kepler code is growing and it is starting to be difficult to follow the structures.
So we should refactor and rearrange the packages and some names.

What should we do:
- [ ] move all bpf related files to just one place
- [x] move all cgroup related files to just one place
- [ ] create a general cache structure that the collector

[2022-10-21 12:21] #318 closed

[2022-10-21 12:31] rootfs commented on #301
The dependence issue is double edged, the pod owner exporter can be used for other purposes as well (e.g. for metrics-server). By separating it from kepler, we have the flexibility to deploy it only when the aggregation is needed.

[2022-10-22 08:33] SamYuan1990 commented on #253
https://github.com/GsActions/commit-message-checker

[2022-10-22 08:55] SamYuan1990 commented on #254
close for now as resolved by #267

[2022-10-22 08:55] #254 closed

[2022-10-24 01:51] #317 closed

[2022-10-24 01:53] marceloamaral commented on #320
/cc @rootfs @sunya-ch

[2022-10-24 11:43] #253 closed

[2022-10-24 11:46] SamYuan1990 commented on #237
I suppose this one can be closed?

[2022-10-24 11:48] #276 closed

[2022-10-24 12:03] SamYuan1990 opened #326 "Add stale bot https://github.com/probot/stale"
**Is your feature request related to a problem? Please describe.**
Use stale bot to do house keeping

**Describe the solution you'd like**
So far we have many issues open, and I found some of them keep open for lot of days.
Hence, by this bot, I want to have a reminder or housekeeping for issues.

**Describe alternatives you've considered**
n/A, welcome for any others.

**Additional context**
n/A,

[2022-10-24 13:06] #237 closed

[2022-10-24 13:55] rootfs opened #327 "Classify system processes and attribute to containers"

[2022-10-24 14:04] rootfs opened #328 "options to selectively export metrics during startup and runtime"
- [x] #258
- [ ] scalability test for best practice guide
- [ ] deployment and doc update

[2022-10-24 14:05] rootfs opened #329 "aggregate energy consumption from Container level to higher level"
- [x] #301
- [ ] dashboard change

0.5 release

[2022-10-24 14:07] rootfs opened #330 "kepler metrics persistence between reboot"
- [ ] #305
- [ ] deployment and doc update

[2022-10-24 14:29] rootfs opened #331 "support more kubernetes/openshift cluster types"
- [ ] #313
- [ ] #182

[2022-10-24 14:29] #67 closed

[2022-10-24 14:30] #99 closed

[2022-10-24 14:50] rootfs opened #332 "helm chart for kepler"
- [ ] #74 create a [helm chart](https://github.com/sustainable-computing-io/kepler-helm-chart)
- [ ] create helm chart repo

[2022-10-24 14:54] rootfs opened #333 "Document deployment settings and cli options"
- [x] deployment scenarios with model server, estimator, and kepler
- [x] deployment scenarios and cli options recommended for VM and baremetal
- [x] troubleshooting guide

[2022-10-24 14:58] rootfs opened #334 "Document metrics and their usage"
- [ ] review and improve Prometheus metrics description
- [ ] document metrics and how to use them in dashboard and query

[2022-10-25 01:23] jichenjc commented on #334
I knew @marceloamaral is working on (already done?) container level metrics
should we first record old(legacy) metrics then continue improve?

[2022-10-25 01:27] marceloamaral commented on #334
This is a good idea, I will work on it! I think we should already document the new container-level metrics....
Btw, we have some good discussion of how to use the metrics in #291

[2022-10-25 01:40] marceloamaral commented on #330
We had some discussion about this in the issue.

We are not sure if we really need this since what should persist the data is the data base (Prometheus in this case) and prometheus already has a good logic to deal with counters that were reset....
For example, other exporters, e.g. node_exporter does not persist the data.....

So, maybe persist the data is an overhead that might not be necessary..

[2022-10-25 01:45] marceloamaral commented on #333
+1

[2022-10-25 01:59] marceloamaral commented on #326
+1

[2022-10-25 02:02] marceloamaral commented on #304
In fact, PR #307 fixed this...

The health check should only start responding when kepler is fully initialized

[2022-10-25 02:02] #304 closed

[2022-10-25 14:31] SamYuan1990 commented on #331
microshift？

[2022-10-26 14:36] sunya-ch commented on #320
Good job.
In my opinion, there might be too many folder on level-1 and can be a little bit difficult to navigate the core code. How's about put  metric sources (cgroup, kubelet, BPF,...) together under a folder.

[2022-10-27 12:52] SamYuan1990 opened #340 "Improve README and developer onboarding"
- commit rules
- github labels(including stale)
- how CI works?

[2022-10-27 12:52] SamYuan1990 opened #341 "upgrade ginkgo to ginkgo v2"
upgrade test case to ginkgo v2

[2022-10-28 02:37] jichenjc opened #344 "Add version output in log"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Add version output in log, see https://github.com/sustainable-computing-io/kepler/pull/343

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A cle

[2022-10-31 03:07] #344 closed

[2022-10-31 08:09] marceloamaral commented on #341
What are the advantages and disadvantages?

[2022-10-31 09:29] jichenjc commented on #333
is this something should be tracked in sustainable computing overall doc issue?
e.g we need update here https://sustainable-computing.io/html/installation/index.html ?

[2022-10-31 11:11] SamYuan1990 commented on #341
one of the advantage is that we can use ginkgo related plug-in in vscode to see test coverage in a visual way.
disadvantages: no?

[2022-10-31 13:04] marceloamaral opened #346 "Unit test is failing in macOS after enabling nvidia GPU metrics..."
**Describe the bug**
[Unit test](https://github.com/sustainable-computing-io/kepler/actions/runs/3361335455/jobs/5571601524#step:4:53) is failing in macOS after enabling nvidia GPU metrics...

The problem is that Mac OS/BSD does not support RTLD_DEEPBIND

**To Reproduce**
make test-mac-verbose in macOS

**Additional context**
Do we really need to run the test in macOS environment?

I mean, we can

[2022-10-31 13:18] rootfs commented on #333
@jichenjc yes, eventually all the doc will go to the https://github.com/sustainable-computing-io/kepler-doc repo

[2022-11-01 08:09] jichenjc opened #348 "how the upstream build process different to local build?"
**Describe the bug**
A clear and concise description of what the bug is.

using my local build image through `make`
[code]

using upstream latest
[code]

@SamYuan1990 what's the latest image build ? something about the process might be helpful here

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A cle

[2022-11-01 09:05] marceloamaral commented on #348
The image update is made in [workflows/image.yml](https://github.com/sustainable-computing-io/kepler/blob/main/.github/workflows/image.yml). A new image will be created every time that the `main` is updated.

The [_build_local](https://github.com/sustainable-computing-io/kepler/blob/main/Makefile#L67) and  [_build_containerized](https://github.com/sustainable-computing-io/kepler/blob/main/Makefile

[2022-11-01 09:06] jichenjc commented on #348
I am wondering https://github.com/sustainable-computing-io/kepler/blob/main/.github/workflows/image.yml#L20
is the root cause ..

[2022-11-01 09:11] marceloamaral commented on #346
Closing this PR because the macOS use case is important to show the support of cross-building.

[code]

So, we disable gpu in the macOS test.

[2022-11-01 09:11] #346 closed

[2022-11-01 09:19] jichenjc commented on #348
ok, saw your comment, actually with make we can see
[code]

the target is cross-build-linux-amd64 and this build will call _build_local anyway.. so I think it's still same process for build the kepler execute file

[2022-11-01 10:42] marceloamaral commented on #348
@jichenjc. Just `make` actually run: `make _build_containerized ARCH=amd64`

[_build_containerized](https://github.com/sustainable-computing-io/kepler/blob/main/Makefile#L84) has the following arguments:
[code]

[_build_local](https://github.com/sustainable-computing-io/kepler/blob/main/Makefile#L67) has the following arguments:
[code]

The variable that is adding the version is the `LDFLAGS`, but

[2022-11-01 11:54] jichenjc commented on #348
thanks for the detailed info, however, curious why my local test build `make` can create container with LDFLAGS...
something need dig into :)

will submit a PR to this

[2022-11-01 12:01] marceloamaral commented on #348
Humm, you are right @jichenjc ...

I'm using and the [_build_containerized](https://github.com/sustainable-computing-io/kepler/blob/main/Makefile#L84) and it has the version: `v0.3-82-ge5113f5-dirty` in the logs.

So, the GO_LD_FLAGS is being computed and used when building the image within the container....

The problem might be something else...

[2022-11-01 12:41] sallyom commented on #331
PR for CI with OpenShift: https://github.com/openshift/release/pull/32639

[2022-11-01 12:43] rootfs commented on #341
https://marketplace.visualstudio.com/items?itemName=joselitofilho.ginkgotestexplorer

[2022-11-01 12:54] wangchen615 opened #349 "end-to-end integration with model server, estimator, and kepler"
- [x] e2e integration
- [x] test cases for validation

[2022-11-01 13:00] sallyom commented on #331
@rootfs please assign me to this card @sallyom thank you

[2022-11-01 13:02] sallyom commented on #331
I believe we can utilize the openshift/release MicroShift CI, then add Kepler deployment to that - (and also add documentation to Kepler repo wrt how a user can deploy MicroShift on their own)

[2022-11-01 13:24] sallyom opened #350 "Improve integration test suite to test basic metric query"
[From #162](https://github.com/sustainable-computing-io/kepler/issues/162) @SamYuan1990

**Is your feature request related to a problem? Please describe.**
So far, we just verify by `until kubectl get svc --all-namespaces  ...`
to make it better, we'd better have a test suite and targeting on running service.

**Describe the solution you'd like**
as above.

[2022-11-01 13:32] rootfs commented on #350
@sallyom sounds good, please list the previously opened issues for this task.

[2022-11-01 13:35] sallyom commented on #350
previous work:
- https://github.com/sustainable-computing-io/kepler/pull/283
- https://github.com/sustainable-computing-io/kepler/pull/292

[2022-11-01 13:37] sallyom commented on #162
this issue is folded into https://github.com/sustainable-computing-io/kepler/issues/350, closing here and moving conversation to  #350 tracked on the Project Board

[2022-11-01 13:37] #162 closed

[2022-11-01 13:43] sallyom commented on #350
From #162 @rootfs & @SamYuan1990

Will open a design doc to discuss integration test goals

[2022-11-01 15:08] SamYuan1990 commented on #341
@sallyom , I want to update this ticket's priority from medium to high.

[2022-11-02 10:02] jichenjc opened #352 "VM: all node / pod energy report 0 (again..)"
**Describe the bug**
A clear and concise description of what the bug is.

after use latest update with a few enhancement, my pod/node report energy become 0 again..
switch to v0.3 I can see the data correctly reported ,...

latest
[code]
v0.3
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A cl

[2022-11-02 11:53] marceloamaral commented on #352
What about the other metrics?
`kepler_node_core_joules_total`
`kepler_node_package_joules_total`

[2022-11-02 12:29] marceloamaral commented on #352
I can see the values in my system
[code]

But the energy stat is empty:
[code]

I will investigate that next week (after the holiday in Japan)

----
Btw, the `kepler_node_package_joules_total` use the `p.NodeMetrics.EnergyInPlatform.Agg()`
And the `kepler_node_energy_stat` use the  `p.NodeMetrics.EnergyInPlatform.Curr()`
So it might be something related to the `Agg()` and `Curr()` functions.

[2022-11-02 14:06] SamYuan1990 opened #354 "Improve unit test coverage to 50+%"
- [x] #430
- [x] #431
- [x] #432
- [x] #433
- [x] #434
- [x] #435
- [x] #436
- [x] #437

[2022-11-02 15:10] #341 closed

[2022-11-02 21:10] sallyom commented on #341
@SamYuan1990 :tada: thanks for this!

[2022-11-03 02:58] jichenjc commented on #352
[code]

didn't see this package info in output, need check why ..

[2022-11-03 03:04] jichenjc commented on #352
all pod energy 0 as well ..

[code]

will dig more on this

[2022-11-03 07:41] jichenjc opened #355 "container_metric.go:176] cannot extract: block_devices_used"
**Describe the bug**
A clear and concise description of what the bug is.

with VM and --v=5

see in logs, not sure what happend?
[code]

[2022-11-03 12:03] rootfs commented on #352
The VM estimator is moved, can you enable estimator? https://github.com/sustainable-computing-io/kepler-estimator#patch-estimator-sidecar-to-kepler-daemonset
cc @sunya-ch

[2022-11-03 13:41] rootfs commented on #355
This might require turning on block io accounting, [this](https://man.archlinux.org/man/systemd.resource-control.5.en) is the instruction

[2022-11-04 09:37] jichenjc commented on #355
ok, so should we consider cgroup v1 support or stick to v2 ?
if it's v2 only, I might need switch my env or it's v1+v2, may need a PR to fix if possible ...

[2022-11-04 10:00] jichenjc commented on #352
yes, I enabled it (some doc issue , will open other issues to track in that repo), thanks for the tip

[2022-11-04 12:33] rootfs commented on #355
@jichenjc please see if cgroup v2 works first.

[2022-11-04 20:16] rootfs commented on #349
Currently developing the e2e integration and validation through https://github.com/sustainable-computing-io/kepler-e2e-test

[2022-11-05 13:11] jichenjc commented on #352
I doubt current code works for Ubuntu at all

I got 2 env , both Ubuntu , one with cgroupv2, one not

[code]

both looks no scope at all
[code]

but https://github.com/sustainable-computing-io/kepler/blob/main/pkg/cgroup/slice_handler.go#L155 expecting a scope suffix file or the compare failed totally and no data reported

and I am curious on our current design @marceloamaral

no cgropu v2 env
[co

[2022-11-05 13:13] jichenjc commented on #352
I know this used to work on my env before so I am not sure how the refactory recently impact those logic..
can you help provide some insight on where to find
https://github.com/sustainable-computing-io/kepler/blob/main/pkg/cgroup/stat_reader.go#L25
https://github.com/sustainable-computing-io/kepler/blob/main/pkg/cgroup/stat_reader.go#L32
https://github.com/sustainable-computing-io/kepler/blob/main

[2022-11-07 01:38] jichenjc opened #362 "many PIDs printed in log is confusing"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

like this
[code]

this is pkg/collector/metric/container_metric.go    c.PIDS = append(c.PIDS, pid)

**Screenshots**

[2022-11-07 03:10] marceloamaral commented on #362
This PID list was being used to calculate GPU power consumption and PR #345 removes this dependency.

So, we might remove this

[2022-11-07 03:15] marceloamaral commented on #352
Hum, so the problem is with the cgroup metrics?

[2022-11-07 03:17] jichenjc commented on #352
yes, the cgroup metrics is not able to be found , all report 0 might be related to this cgroup metric is empty..
can't find scope file ,then no available metrics and not get all those cgroup metcis?
I am not sure the design logic (need more read) but seems without cgroup metrics there is no way to report container energy consumption?

[code]

[2022-11-07 03:26] marceloamaral commented on #352
No, we can report the container energy consumption without the cgroup metric...
The most important metrics are the hardware counters from BPF.

----

And yes, it seems that we need to improve the cgroup metric collection logic

[2022-11-07 03:28] jichenjc commented on #352
ok, so my env didn't have BPF functional (fully) , and cgroup metics not working well as well
that's the reason I got 0 ... so first should improve BPF then optimize cgroup as well...

[2022-11-07 03:32] marceloamaral commented on #352
Yes, I added a TODO in the code to improve this...
https://github.com/sustainable-computing-io/kepler/blob/bf17c6bfa1062e4d557d0aeb1ce2ffc67ade803e/pkg/collector/container_energy_collector.go#L33
I will create a new issue for this

[2022-11-07 03:40] marceloamaral opened #364 "Remove BPF dependency so that Kepler can run without BPF"
**Is your feature request related to a problem? Please describe.**

The bpf collects metrics by processes and maps process ids to container ids.
The structure that contains the container information is `ContainersMetrics`. See [here](https://github.com/sustainable-computing-io/kepler/blob/bf17c6bfa1062e4d557d0aeb1ce2ffc67ade803e/pkg/collector/container_energy_collector.go#L33).

However, currently

[2022-11-07 03:41] marceloamaral commented on #352
#364

[2022-11-07 11:34] SamYuan1990 commented on #350
is there any thing we left in this issue?

[2022-11-07 15:24] rootfs commented on #362
@jichenjc nice finding! Can you remove the duplicate values from the PIDS slice [here](https://github.com/sustainable-computing-io/kepler/blob/main/pkg/collector/metric/container_metric.go#L143)?

[2022-11-07 15:26] #362 closed

[2022-11-07 16:46] sallyom commented on #350
@SamYuan1990 @rootfs this merged last week, https://github.com/sustainable-computing-io/kepler/pull/357  so I believe this issue is completed! :partying_face: :tada:

[2022-11-07 17:20] sallyom commented on #331
I've been putting together the recipe for running kepler/prom/grafana in MicroShift, with KVM, will open a PR to document this

[2022-11-07 17:23] sallyom commented on #350
https://github.com/sustainable-computing-io/kepler/issues/349 will add more in-depth integration tests. The current suite satisfies this issue.

[2022-11-07 17:23] #350 closed

[2022-11-07 17:47] williamcaban opened #365 "Kepler general energy metrics vs energy tracing metrics"
**Is your feature request related to a problem? Please describe.**

The recent changes in the kind of metrics exposed increase the level of visibility to trace how much energy is consumed by which elements on a process/Pod/container. This kind of metrics is valuable for applications owners looking to optimize the energy consumption by their application or services stack. At the same time, the gran

[2022-11-07 18:19] rootfs commented on #365
thank you @williamcaban for the investigation and proposal

This is surely a concern for us. If Prometheus cannot support a small setup, the metrics scheme needs a scalability study.

This can be investigated in two ways: exposing the general use case through metrics or supporting them via Prometheus query. Again, these approaches are to be evaluated via usability and scalability factors.

[2022-11-07 18:20] rootfs commented on #365
cc @marceloamaral

[2022-11-07 18:40] rootfs commented on #365
Let's create a process for metrics schema:
- Support general use cases: current and aggregate power usage by nodes, pods, and potentially namespace.
- Focus on the scalability on evaluating design choices: what would happen to Kepler, Prometheus, or Grafana dashboard when the numbers of pods and nodes increase?
-  Add integration test on the quantifying metrics query latency.

@sustainable-computi

[2022-11-08 00:27] rootfs opened #366 "scalability and performance tests to evaluate kepler's resource usage and scrape latency under high and low workload"
marceloamaral: I can help since I was already starting by including some latency information in the code.
Btw, performance and scalability analysis was my main role in the Kubevirt project.

We will need to define what is high and low workload.
I currently have a single node cluster, what cluster size will we target?

[2022-11-08 00:28] rootfs commented on #366
#365

[2022-11-08 03:18] marceloamaral opened #367 "Kepler on VM with Hardware Counters and RAPL"
**Is your feature request related to a problem? Please describe.**
By Default the VM does not expose hardware counters and neither RAPL power metrics.

**Describe the solution you'd like**
In theory, with CPU passthrough, the VM can access hardware counter information related to the VM.

There is a KVM patch that expose RAPL to the VM
[https://lore.kernel.org/all/20220109182317.1075762-1-biche@bic

[2022-11-08 03:19] marceloamaral commented on #331
Does the MicroShift need to be run in KVM? It would be better to run it directly in Bare-Metal.

In the case you will run in KVM, it could also be possible to enable RAPL and Hardware Counter metrics.
This is related to the issue #367.

[2022-11-08 13:47] marceloamaral commented on #365
Right, I do agree that we need a metric that sum the energy consumption of all sources:
`kepler_container_joules_total` as the old `pod_curr_energy_millijoule`

This metric will represent the container_energy = package+ucore+dram+gpu+other_components

[2022-11-08 13:49] marceloamaral commented on #365
Regarding the number of metrics. We have some ideas of disabling some metrics via configuration.
So we can do that in the future.

However, just keep in mind that `node-exporter`, `cadvisor` and other exporters export a lot more metrics than we do without major problems.
But of course we need to do some analysis on this.

[2022-11-08 13:50] rootfs commented on #365
thank @williamcaban for sharing me the setup.
This setup is quite beefy
[code]
It has the latest metrics: kepler_pod_energy.

I ran some quick tests and did find quite some issues:
- current CPU usage is way too high, it is over 150%
![image](https://user-images.githubusercontent.com/7062400/200581136-8216faa4-51c2-4733-9f49-f2b633ea478e.png)
- latency is also high, 4s vs 1s before refactoring
![i

[2022-11-08 14:52] marceloamaral commented on #365
@williamcaban regarding the large prometheus metric being too expensive to process, I created a new metric in PR #370

[2022-11-08 14:54] marceloamaral commented on #365
@rootfs definitely there is something wrong with this deployment.
First, why it has 3 kepler instances?

In my environment the kepler CPU utilization is not high....
<img width="782" alt="image" src="https://user-images.githubusercontent.com/5133121/200597213-20d75ec8-3420-4f08-b030-c314c097d83c.png">

[2022-11-08 15:12] rootfs commented on #365
the top output was from a remote tmux console, there are issues with rendering. This is the top from inside the kepler pod
![Screenshot](https://user-images.githubusercontent.com/7062400/200601679-91c84806-97cb-4183-b378-f10b73f9b647.png)

[2022-11-09 00:37] vincent-pli opened #373 "Cannot start up exporter with Kind"
**Describe the bug**
Try `kepler` with Kind, but the exporter cannot startup, get below errors in logs:
not sure if the Kind is not in the support list.
[code]

**To Reproduce**
Steps to reproduce the behavior:

**Additional context**
Add any other context about the problem here.

[2022-11-09 00:54] jichenjc commented on #373
it is
I am guessing kind env report different data lead to code handling not well
technically it should report error or return empty map etc

assume you are using latest version?

[2022-11-09 01:05] rootfs commented on #373
@vincent-pli

The offending line is [here](https://github.com/sustainable-computing-io/kepler/blob/main/pkg/power/rapl/source/msr_util.go#L88)

Based on the error, it looks you have 16 cores (indexed from 0 to 15) and somehow CPU core to pkg mapping finds core 16.

Can you get the following output?

[code]

[2022-11-09 01:11] rootfs commented on #373
btw, MSR is turned off, oddly go build doesn't take the [hint](https://github.com/sustainable-computing-io/kepler/blob/main/pkg/power/rapl/power.go#L53)

[2022-11-09 01:32] vincent-pli commented on #373
Checked the code and VM, it's weird...
my core number is 16 and
`cat /sys/devices/system/cpu/cpu15/topology/physical_package_id`
get 30

@rootfs  @jichenjc

[2022-11-09 01:55] rootfs commented on #373
that sounds a bogus physical_package_id.

In any case, @vincent-pli do you like to post a fix? Either completely disable MSR or add protection around the slice

[2022-11-09 04:07] jichenjc opened #375 "difference between kepler-model-server and kepler-estimator"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I am getting all pod energy are 0, check code seems I need at least enable one of kepler-model-server and kepler-estimator
what's the difference between them and which one should use? the side car (https://github.com/sustainable-computing-

[2022-11-09 06:02] marceloamaral commented on #373
The Kind cluster is probably not the problem.

All my tests were using RAPL `sysfs`, and it's interesting that you've seen problems with the msr package.

So the package is not finding the correct socket (package) ID for the CPU.

How many sockets does your system have?
What OS are you using?
Is it BareMetal or VM?

[2022-11-09 07:23] vincent-pli commented on #373
It's a VM on the VMware vSphere, core number is 16
OS is centos 8
[code]
@marceloamaral

[2022-11-09 07:28] marceloamaral commented on #373
@vincent-pli Interesting, does this VM has RAPL support?
In the case you did not check it before, you could verify it using the [rapl reader](https://web.eece.maine.edu/~vweaver/projects/rapl/)

[2022-11-09 08:13] vincent-pli commented on #373
I don't think it has the PAPL support, based on the
`*four* ways to read RAPL results on Linux`

I noticed the kernel version is `4.18.0-408.el8.x86_64`, it that the reason? @marceloamaral

[2022-11-09 10:07] marceloamaral commented on #373
@vincent-pli By default, RAPL is not supported on VMs
We have an issue #367 to investigate the possibilities to enable RAPL within VMs...

In any case, since RAPL is not supported, Kepler should not try to run via MSR.
@rootfs So, this is a bug that we need to fix.

[2022-11-09 14:47] rootfs commented on #375
@sunya-ch @KaiyiLiu1234 can you provide a high level usage description? Preferably [here](https://sustainable-computing.io/html/design/index.html)

[2022-11-09 14:49] rootfs commented on #373
@marceloamaral sounds good, let's disable MSR when RAPLs not available.

[2022-11-09 14:55] sunya-ch commented on #375
I put the general explanation about power estimation and deployment [here](https://sustainable-computing.io/html/design/power_estimate/index.html).

With the minimum deployment (no estimator and no model server), the kepler should use an offline model weight with embed linear regression model defined by _PodComponentPowerModelConfig_ variable (which is currently hard coded pointing to [this file](

[2022-11-09 14:59] sunya-ch commented on #375
@jichenjc As there are possible unmatched features name to the current version of Kepler, the initial model weight may not be applicable. You may further investigate the json file and the collected metric calling below.
https://github.com/sustainable-computing-io/kepler/blob/1a0f34266c809dbdb6c86419707daf57ff4c1ba6/pkg/collector/container_energy_collector.go#L76-L79

[2022-11-09 15:31] husky-parul commented on #334
Hi @jichenjc and @marceloamaral
This is our documentation repo https://github.com/sustainable-computing-io/kepler-doc
When you are done with it, please create a PR on the main branch and add me as the reviewer. We use sphinx to build the html so the content goes inside [docs/source](https://github.com/sustainable-computing-io/kepler-doc/tree/main/docs/source/)

We are going to use this issue to tr

[2022-11-09 15:32] husky-parul commented on #333
@jichenjc
This is our documentation repo https://github.com/sustainable-computing-io/kepler-doc
When you are done with it, please create a PR on the main branch and add me as the reviewer. We use sphinx to build the html so the content goes inside [docs/source](https://github.com/sustainable-computing-io/kepler-doc/tree/main/docs/source/)

[2022-11-09 18:56] rootfs commented on #375
cc @sallyom @husky-parul @KaiyiLiu1234

[2022-11-10 07:43] jichenjc commented on #375
this is great sharing , thanks ! @sunya-ch

about the original issue, I thinks it's by default there is no model server param provided in manifest
and this makes following to be come not called

pkg/collector/metric/utils.go
[code]

and in turn all the logic reltaed to `PodComponentPowerModelConfig` is not called at all

[2022-11-10 09:25] jichenjc commented on #352
I am seeing this

[code]

but I am seeing
[code]

I think current logic for checking scope might have some problem... @marceloamaral

[2022-11-10 09:58] jichenjc commented on #375
@marceloamaral we have https://github.com/sustainable-computing-io/kepler/blob/main/pkg/model/model.go#L66
hardcoded ,then

https://github.com/sustainable-computing-io/kepler/blob/main/cmd/exporter.go#L84 set the endpoint
and the only usage is https://github.com/sustainable-computing-io/kepler/blob/main/pkg/collector/metric/utils.go#L81

so my proposal is to change this to a bool
https://github.co

[2022-11-10 15:28] husky-parul commented on #375
IMO we should externalize this via a `configmap` if we are not doing already

[code]

[2022-11-11 01:33] jichenjc commented on #375
but then we depends on model-server ?should this be a resource defined in kepler instead of kepler-model-server?

[2022-11-11 01:34] jichenjc commented on #375
I can
- create a configmap like above
- if no configmap, the default is not read model server (same to not enabled)
- honor the config map when access URL (default will be put into configmap from hard code)

thoughts?

[2022-11-11 03:04] husky-parul commented on #375
Does it mean if no configmap, Kepler will use default model and when configmap is provided by the user it will have models provided by user to be accessed via `URL`

[2022-11-11 11:39] marceloamaral commented on #334
@husky-parul I created a PR with the detailed description of the metrics.
https://github.com/sustainable-computing-io/kepler-doc/pull/25

[2022-11-11 11:43] marceloamaral commented on #365
The empty cgroup values might be related to this fix (PR#377)

[2022-11-11 14:58] #352 closed

[2022-11-11 14:58] #340 closed

[2022-11-11 15:32] nikimanoledaki commented on #246
Hey all, sorry for the very late reply. Yes, I was running kind inside a VM:

MacOs -> VirtualBox VM running Ubuntu 2204 -> Kind

I ensured that the VM had kernel headers.

Maybe it was not valid because MacOs was used as host. However, this was an attempt to find a working dev env for people who would like tro try Kepler using MacOs and don't have access to any baremetal machine.

This could pote

[2022-11-11 18:54] rootfs commented on #365
@williamcaban @marceloamaral Here is my controlled test results.
https://gist.github.com/rootfs/2bb2c742c3afd9acca7811ed8eba7dd7

The TL;DR is, there is a scalability regression in the current code, kepler's CPU usage is very sensitive to the number of Pods.

[2022-11-11 20:07] rootfs commented on #365
The scalability is introduced in ad9daeda7aedbac743dd8f2a171379be7fcb6b6a (#287). I tested the until 73a4291b92c3c0cb4efa143d066aca61283ee187 and found no regression.

[2022-11-11 20:35] rootfs commented on #365
looking at [this](https://github.com/sustainable-computing-io/kepler/blob/main/pkg/collector/metric_collector.go#L115-L122) block, there are quite some map to create and discard after use. Creating map and letting it go to garbage collection is quite expensive.

[2022-11-11 20:54] rootfs commented on #365
Based on the [profiling result](https://github.com/sustainable-computing-io/kepler/pull/381#issuecomment-1312181836), gc  is an issue

@marceloamaral

[2022-11-11 23:16] rootfs opened #382 "benchmark critical paths to ensure scalability and low cpu usage"
**Is your feature request related to a problem? Please describe.**
Kepler should stay low footprinted and scalable. Functions in tight loops or critical loops should be benchmarked. The benchmark are to be used to detect regressions

**Describe the solution you'd like**
The [collector.Update](https://github.com/sustainable-computing-io/kepler/blob/main/pkg/collector/metric_collector.go#L106) funct

[2022-11-12 03:36] marceloamaral commented on #365
Thanks @rootfs for the excellent profile analysis.
Yes, the new code is using more CPU. Maybe it's because before we had the metrics aggregated by pod and now we have them by container, so it has more values in the maps....

@rootfs I didn't create new maps I just refactored the ones that already exist to be transparent what we're using.
But performance regression may be related to some of these f

[2022-11-12 17:03] rootfs commented on #365
@marceloamaral `containerMetricValuesOnly, containerIDList, containerGPUDelta,nodeTotalPower, nodeTotalGPUPower, nodeTotalPowerPerComponents` are created by functions. They are used once and threw away. This puts much pressure on gc.

[2022-11-14 00:45] jichenjc commented on #375
@husky-parul based on my test

no endpoint then
https://github.com/sustainable-computing-io/kepler/blob/main/pkg/collector/metric/utils.go#L81
will block all further operations,

if it does have some value
https://github.com/sustainable-computing-io/kepler/blob/main/pkg/model/model.go#L30
will be used as hard code ..

so I am curious on the logic here

[2022-11-14 02:52] jichenjc commented on #375
I proposed
https://github.com/sustainable-computing-io/kepler/pull/384

[2022-11-14 08:43] marceloamaral commented on #365
@rootfs I agree 100%. And that is why I included the `TODO` in the code to remove this...

These arrays are used in the model package because the model server only works with arrays.
To improve this we should use protobuf (for example) for the data and then the model server should also use this.
Using protobuf, we won't need to convert structured data into multiple arrays....

[2022-11-14 12:22] SamYuan1990 opened #385 "Apply folder structure with standards layout"
details at https://github.com/golang-standards/project-layout/blob/master/README.md

[2022-11-14 12:35] SamYuan1990 opened #386 "duplicated logic/files?"
pkg/podlister/resolve_container.go and pkg/cgroup/resolve_container.go are duplicated?

[2022-11-14 15:22] rootfs commented on #386
@SamYuan1990 the good old podlister is gone :D

[2022-11-14 15:22] #386 closed

[2022-11-15 00:11] jichenjc commented on #367
looks like it's not merged yet
https://github.com/torvalds/linux/blob/master/arch/x86/include/asm/kvm_host.h#L955

[2022-11-15 00:15] rootfs commented on #367
i doubt if that PR can be merged. For one thing, what value would kvm set for the virtual CPU? There is no per CPU level energy stats...

[2022-11-15 00:43] sunya-ch opened #389 "Power estimator is unexpectedly initialized with nil value"
**Describe the bug**
A clear and concise description of what the bug is.

LR Model is set to be valid even if there is no weight downloaded.

**To Reproduce**
Steps to reproduce the behavior:
1. Disable ModelServer (ModelServerEndpoint="")
2. Set no URL ("") to InitModelURL

**Expected behavior**
A clear and concise description of what you expected to happen.

`func (r *LinearRegressor) Init() boo

[2022-11-15 03:17] jichenjc commented on #332
penghui mentioned he will work on this

[2022-11-15 03:21] jichenjc commented on #332
/assign jiangph

[2022-11-15 11:26] marceloamaral commented on #366
Initial performance analysis test is in #391.

[2022-11-15 11:30] marceloamaral commented on #365
Based on the CPU profile results, I also analyzed the MEM profile at #391.
In a first, initial analysis, the ListPod function seems to be the bottleneck.
And the getCPUCoreFrequency is also a very expensive function.

[2022-11-15 11:40] marceloamaral commented on #366
The PRs #381 and #392 are related to this issue.

[2022-11-15 12:00] marceloamaral commented on #385
It's fine to deviate from the standard layout a bit, this is just a guideline for starting a project.

But suggestions to improve the layout are always welcome.

Which folders are you suggesting to change?

[2022-11-15 12:02] jiangphcn commented on #332
started to work on this with https://github.com/sustainable-computing-io/kepler-helm-chart/pull/1

[2022-11-15 12:03] marceloamaral commented on #389
Closing because it was fixed by #390

[2022-11-15 12:03] #389 closed

[2022-11-15 12:13] marceloamaral commented on #382
#366

[2022-11-15 13:48] rootfs commented on #375
@sunya-ch will have a discussion on GH project, also going to have this supported in operator

[2022-11-15 13:56] rootfs commented on #364
Need to identify the use case that doesn't support/need eBPF and then follow up on the container finding case. Check alternative implementations on hardware counters vs e.g. cpu time.

[2022-11-15 20:42] wangchen615 opened #394 "Provide Community Meeting Invite and Notes"
**Is your feature request related to a problem? Please describe.**
We do not yet have a doc to share the community meeting info,  meeting notes, and meeting recordings on this GitHub.

**Describe the solution you'd like**
Provide a community meeting doc to include the above info.

**Describe alternatives you've considered**
Or provide the above info in the wiki page or documentation website.

[2022-11-15 21:29] rootfs commented on #394
the meeting info is [here](https://github.com/sustainable-computing-io/kepler#community-meetings)

[2022-11-15 21:36] rootfs commented on #394
@husky-parul would you mind posting the meeting info on kepler-doc?

[2022-11-15 23:38] sunya-ch opened #396 "some cGroup available metrics are missing"
**Describe the bug**
A clear and concise description of what the bug is.

There are two problems with previous cgroup logic.
1. there is no need to find slice before scope if the walk logic is correctly.
https://github.com/sustainable-computing-io/kepler/blob/fa0b3fa5b673c27bcd32898cea939c7770d1df97/pkg/cgroup/slice_handler.go#L164-L179
This will introduce unnecessary operations.

2. in some syste

[2022-11-16 06:25] vincent-pli commented on #373
@marceloamaral @rootfs
I checked the code again, I think the VM has the MSR support at least, since I can find `/dev/cpu/%d/msr`.
and for the problem of `physical_package_id`, here is the explained from official：
[code]

In my case, the content of
`/sys/devices/system/cpu/cpu%d/topology/physical_package_id` is  2*${cpu_num}, that's why it crashed (out of index).

So I wonder if it's just a code pr

[2022-11-16 06:26] vincent-pli commented on #373
BTW, after modification, the log like this:
[code]

and no data collected in the Grafana. so my VM still cannot saitified the requirement?

[2022-11-16 08:34] marceloamaral commented on #373
@vincent-pli that is very interesting that your VM has MSR.
Can you see energy consumption values? Did you try the rapl reader code?

Regarding the no data, can you run Kepler with higher verbosity (-v=5)?

In your logs we can see that the VM does not have support for hardware counters. The hardware counters are typically enabled when the VM is using CPU passthrough.
Currently Kepler depends on th

[2022-11-17 00:53] jichenjc commented on #355
already cgroupv2 now
still seeing this
I1117 00:44:32.693941       1 container_metric.go:194] cannot extract: block_devices_used

the metrics are:
[code]

seems config.BlockDevicesIO =  "block_devices_used" is not used at all?

[2022-11-17 00:55] rootfs commented on #355
I think if you don't have additional block devices, this stat is not set

[2022-11-17 00:56] rootfs commented on #355
@jichenjc can you lower the verbosity for this line? It is everywhere in the log
[code]

[2022-11-17 00:58] jichenjc commented on #355
um.... let me add one disk to my VM
but this is container metric, so create a PV and attach to the container then we can see the info?

and this is V4, so should be good?
klog.V(4).Infof("cannot extract: %s", metric)

[2022-11-17 01:37] rootfs commented on #355
@sunya-ch do you need `block_devices_used` in the models?

[2022-11-17 10:15] #396 closed

[2022-11-17 10:33] sunya-ch opened #405 "ModelConfig is not set by configmap/environment variables"
**Describe the bug**
A clear and concise description of what the bug is.

The current ModelConfig in model module is hard-coded and the set up in configmap is not applied.

For example:
https://github.com/sustainable-computing-io/kepler/blob/0fa7d82084ea65b50f8ee9c631c7b1d66a0c5d52/pkg/model/container_power.go#L35-L37

In addition, with the current logic, the initEstimateFunction will try initiati

[2022-11-18 08:09] sunya-ch opened #408 "podEnergyStatLabels need updates"
**Describe the bug**
A clear and concise description of what the bug is.

NodeMetricsStatLabels, podEnergyStatLabels that are kept for the model server are from very old version. Some metrics are not used anymore. Some metrics are missing.
- value with `total_` prefix is not used anymore.
- there is no meaning to add prefix `curr_`, `node_` in the label (it will be removed when training).
- cgroup

[2022-11-18 14:46] SamYuan1990 commented on #354
maybe we need to clarify #411

[2022-11-21 08:03] vincent-pli commented on #373
Changed the log level, get tons of:
[code]
@marceloamaral

[2022-11-21 15:15] rootfs commented on #373
@vincent-pli can you post the beginning of the log?

[2022-11-22 00:24] vincent-pli commented on #373
@rootfs @marceloamaral
I'd like to leverage kepler as a key component in our approach, so shoud I find bare metal or vm with some specific requirement to make it works?
I'm not a expert for linux kernal, so I need some guide, thanks

[2022-11-22 01:20] rootfs commented on #373
@vincent-pli cgroupfs metrics is empty, this causes problem, can you check if your node is running on cgroup v2?
[code]

[2022-11-22 01:28] vincent-pli commented on #373
Seems, it has v2 installed @rootfs
[code]

[2022-11-22 01:29] vincent-pli commented on #373
Also, I try rapl reader, and get this:
[code]
@rootfs  @marceloamaral

[2022-11-22 01:30] sunya-ch commented on #373
Not sure whether this would help but I also see the issue that init() function in the power module is not called and no node energy can be read.
I committed a change to my local to solve the issue but have no time to push as a PR yet. You may check the following commit.

https://github.com/sunya-ch/kepler/commit/2b7f74d4c656297cee1c45dc10db6cb87c9d9f33#diff-c3d1be9255e1327664e762d9a3b1512214137197

[2022-11-22 01:36] jichenjc commented on #373
@vincent-pli did you use latest version ? Kepler running on version: v0.3-151-g2789a22-dirty didn't know whether it's latest ..

https://github.com/sustainable-computing-io/kepler/issues/352#issuecomment-1309998942
I met this issue before and fixed this by running RHEL version(originally use Ubutu has this problem)
so switch to RHEL and update the PR in the issue I pasted above, the cgroup metrics

[2022-11-22 02:25] vincent-pli commented on #373
@jichenjc I used the latest source code to build a arch amd64 binary, seems the cgroup metrics is back but seems still no luck, no data in the Grafana:
[code]
and
[code]

BTW, do we need to pick different version based on the os, I mean adopt RHEL for rhel mechaine?

and I will test @sunya-ch 's solusion, thanks

[2022-11-22 02:31] jichenjc commented on #373
you are step further, this got fixed compare to previous

I met this so I added this log, I think you can check why it's reported, I believe it's related to model server or something

[2022-11-22 12:02] #348 closed

[2022-11-22 13:31] rootfs commented on #373
@vincent-pli that's good news! Do you see kepler metrics in prometheus? Which version of grafana you use? Is this [dashboard](https://github.com/sustainable-computing-io/kepler/blob/main/grafana-dashboards/Kepler-Exporter.json) working?

[2022-11-23 00:06] vincent-pli commented on #373
@rootfs No data so far, I try to dig into code to figure out the issue.
<img width="651" alt="图片" src="https://user-images.githubusercontent.com/8669744/203445520-6edf8793-52fc-4220-b529-3cbf7667d143.png">

[2022-11-23 01:14] jichenjc commented on #355
@sunya-ch I found several places have

we collect `block_devices_used` but not using it ,that's the reason we saw above confusing logs
do we want to either collect the metrics into metric struct or totally remove this `block_devices_used` if it's not used at all?
seems model server didn't use it , do they?

[code]

[2022-11-23 07:07] vincent-pli commented on #373
Finally, I get the grafana dashboard, thanks everyone @jichenjc @rootfs @marceloamaral
So, donot use **KinD**, the `kubeadmin` setup cluster works

[2022-11-23 07:07] #373 closed

[2022-11-24 01:26] jichenjc opened #417 "Inject AbsComponentModelWeight into kepler LR model?"
**Describe the bug**
A clear and concise description of what the bug is.

seeing this  in VM env (not kind)
[code]

this means AbsComponentModelWeight not inited and not able to get estimated node data, looks like no model server initURL
added (only DynComponentModelWeight have now),

so the question is it possible that we include those from kepler-model server to kepler LR model?

./tests/test_mo

[2022-11-24 11:18] nikimanoledaki opened #418 "Remove duplicate installation steps"
Hi, Kepler community! 👋  Small docs UX enhancement proposal!

The Kepler Installation steps are in this repo's README and they are also in the `kepler-docs` repo / website, [here](https://github.com/sustainable-computing-io/kepler-doc/blob/main/docs/installation/kepler.md).

The sections duplicated are from [Requirement](https://github.com/sustainable-computing-io/kepler#requirement) to [Configure

[2022-11-25 01:21] jichenjc commented on #418
I saw various projects do this as xxx-docs are for public new comer to whole project and
github readme is for project itself startup

maybe we can create a link if you think they might be inconsistent?

[2022-11-25 06:42] jichenjc opened #419 "node energy log not reported well"
**Describe the bug**
A clear and concise description of what the bug is.

seeing this in log
[code]
this is not what we want...
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain

[2022-11-25 06:53] jichenjc commented on #419
after fix
https://github.com/sustainable-computing-io/kepler/pull/421

[code]

[2022-11-25 07:03] jichenjc opened #422 "0 processes reported in log"
**Describe the bug**
A clear and concise description of what the bug is.

VM env:

[code]
though some pods are in crash, but most of them are active running , why we reported 0 processes ??
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to h

[2022-11-25 11:37] nikimanoledaki commented on #418
Ah, I see what you mean :) If I understand correctly, there should be 2 separate installation methods for Kepler:
- Developer installation (in the `kepler` repo)
- End-user installation (in the `kepler-docs` repo / website)

And Helm coming soon :)

Here are some suggestions:
- Move the developer installation from the `kepler` repo's README to [Developer.md](https://github.com/sustainable-computin

[2022-11-25 13:56] simonpasquier commented on #365
:wave: Prometheus team member here. Though I'm not in expert in client code instrumentation and I've only skimmed over the issue, I can probably share some information :)
While in general code instrumentation is lightweight in terms of resource usage (e.g. `github.com/prometheus/client_golang` is highly optimized), the custom collector pattern (using Const metrics) can be problematic, especially w

[2022-11-25 14:05] simonpasquier commented on #301
I don't have a lot of context but have you considered joining the kepler metrics with kube-state-metrics (KSM) metrics. In particular, KSM already provides the pod -> replicaset -> deployment relationships. And you even have recording rules in https://github.com/kubernetes-monitoring/kubernetes-mixin to identify which pods belong to which deployment/daemonset/statefulset.

[2022-11-26 08:48] jichenjc commented on #418
I am ok with the proposal,  @rootfs @marceloamaral any comments?

[2022-11-26 09:59] SamYuan1990 commented on #418
LGTM.

[2022-11-27 01:36] rootfs commented on #301
@simonpasquier thanks for the pointer, I glanced KSM, it looks the metrics are based k8s objects, not object metrics that are already in prometheus. Would you share more info about how to aggregating e.g. deployment level metrics?

[2022-11-27 14:26] rootfs commented on #418
@nikimanoledaki sounds good!

[2022-11-28 02:30] #419 closed

[2022-11-28 08:50] jichenjc opened #424 "how to do ratio calculation correctly in local lr?"
**Describe the bug**
A clear and concise description of what the bug is.

1) question on containerNumber
containerNumber => this include system process, should we exclude it?

https://github.com/sustainable-computing-io/kepler/blob/main/pkg/model/estimator/local/ratio.go#L52

2) question on algorithm

as comment said `power = nodeResEnergyUtilization / containerNumber` is not a good way

should we

[2022-11-28 09:26] marceloamaral commented on #424
Yes, `cgroupfs_cpu_usage_us` is a good metric candidate

[2022-11-28 09:30] jichenjc commented on #424
ok, will see how we can improve here

[2022-11-29 10:06] jichenjc commented on #422
take this as example:

[code]

it's reset from
[code]

but not reach container_hc_collector.go:121 (which do the CurrProcess++) , this means
no process or container read from eBPF at al...

[2022-11-29 12:16] marceloamaral commented on #366
The PR #427 introduces a 2.4X performance improvement for Kepler regarding the CPU profiling.

[2022-11-29 12:26] marceloamaral commented on #365
Thanks @simonpasquier for the pointers!

[2022-11-29 12:27] marceloamaral commented on #365
Btw, the PR #427 introduces a 2.4X performance improvement for Kepler regarding the CPU profiling.

[2022-11-29 13:25] marceloamaral commented on #422
Is BPF running?

[2022-11-29 13:52] SamYuan1990 commented on #354
ref to https://github.com/sustainable-computing-io/kepler/actions/runs/3574669171/jobs/6010219583

[2022-11-29 13:55] SamYuan1990 commented on #354
coverage: 0.0% of statements
ok  	github.com/sustainable-computing-io/kepler/pkg/bpfassets	0.068s
coverage: 0.0% of statements
ok  	github.com/sustainable-computing-io/kepler/pkg/bpfassets/attacher	0.059s
coverage: 51.1% of statements
ok  	github.com/sustainable-computing-io/kepler/pkg/cgroup	0.116s
coverage: 39.0% of statements
ok  	github.com/sustainable-computing-io/kepler/pkg/collector	0.096s

[2022-11-29 13:56] SamYuan1990 commented on #354
- [ ]  github.com/sustainable-computing-io/kepler/pkg/bpfassets
- [ ] github.com/sustainable-computing-io/kepler/pkg/bpfassets/attacher
- [ ] github.com/sustainable-computing-io/kepler/pkg/collector
- [ ] github.com/sustainable-computing-io/kepler/pkg/kubelet
- [ ] github.com/sustainable-computing-io/kepler/pkg/manager
- [ ] github.com/sustainable-computing-io/kepler/pkg/model/estimator/local
- [

[2022-11-29 14:34] SamYuan1990 opened #430 "test coverage needed for github.com/sustainable-computing-io/kepler/pkg/bpfassets"

[2022-11-29 14:34] SamYuan1990 opened #431 "test coverage needed for github.com/sustainable-computing-io/kepler/pkg/bpfassets/attacher"

[2022-11-29 14:34] SamYuan1990 opened #432 "test coverage needed for github.com/sustainable-computing-io/kepler/pkg/collector"

[2022-11-29 14:34] SamYuan1990 opened #433 "test coverage needed for github.com/sustainable-computing-io/kepler/pkg/kubelet"

[2022-11-29 14:34] SamYuan1990 opened #434 "test coverage needed for github.com/sustainable-computing-io/kepler/pkg/manager"

[2022-11-29 14:34] SamYuan1990 opened #435 "test coverage needed for github.com/sustainable-computing-io/kepler/pkg/model/estimator/local"

[2022-11-29 14:34] SamYuan1990 opened #436 "test coverage needed for github.com/sustainable-computing-io/kepler/pkg/model/estimator/sidecar"

[2022-11-29 14:34] SamYuan1990 opened #437 "test coverage needed for github.com/sustainable-computing-io/kepler/pkg/version"

[2022-11-30 00:13] jichenjc commented on #422
I think so as I have one log
[code]

[2022-11-30 00:26] rootfs commented on #422
@jichenjc can you post the beginning of all the logs till `exporter.go:202] Started Kepler `?

[2022-11-30 01:01] jichenjc commented on #422
[code]

[2022-11-30 14:33] jichenjc commented on #422
ok, I will check what I can do at the place you pointed out,actually ,seems the cgroup ID is not calculated correctly (I added some logs in GetContainerID function , will paste update when I have more clear answer

[2022-11-30 15:38] rootfs commented on #437
this one can close, there is no function in version

[2022-11-30 15:38] #437 closed

[2022-11-30 20:06] rootfs commented on #433
the code path should have been exercised in e2e test. Drop to low priority.